// TABLET::START
@media (min-width: @tablet_min) and (max-width: @tablet_max) {
  .item__image__text {
    display: block !important;
  }
  .container {
    &.container__carousel {
      //padding-left: 0px !important;
      //padding-right: 0px !important;
      padding-bottom: 0px !important;
    }
    &.container--onepager {
      margin-bottom: -50px !important;
      padding-bottom: 50px !important;
      .container--carousel__slides {
        .container--carousel__slides__item {
          .carousel-caption {
            left: 437px !important;
            &.other-direction {
              left: -24px !important;
            }
            .carousel-caption__text {
              text-align: left !important;
              width: 50% !important;
            }
          }
        }
      }
    }
    .carousel {
      &.carousel--detail {
        .carousel-control {
          display: block !important;
          .glyphicon {
            position: absolute;
            top: 46%;
            width: 60px * @retina-factor;
            &.left {
              left: 15px;
              transform: rotate(180deg);
            }
            &.right {
              right: 15px;
            }
            svg {
              .border {
                fill: @white;
              }
              .circle {
                fill: @white;
              }
            }
          }
        }
        .carousel-indicators {
          bottom: 4px;
        }
        .carousel-caption {
          bottom: 191px * @retina-factor !important;
          left: 50% !important;
          text-align: left;
          width: 100%;
          &.other-direction {
            padding-left: 20%;
          }
          .carousel-caption__quote {
            margin: 0px;
            padding: 0px !important;
            text-align: left;
            width: 40%;
          }
          .carousel-caption__name,
          .carousel-caption__relation {
            text-align: left;
          }
        }
      }
      .thumbnail-controls {
        .container {
          padding-left: 0px !important;
          padding-right: 0px !important;
          .container--carousel {
            .container--carousel__thumbnails__item {
              .item__image__text {
                display: block !important;
              }
            }
          }
        }
      }
    }
  }
}
// TABLET::END

// DESKTOP::START
@media (min-width: @desktop_min) {
  .carousel {
    &.carousel--detail {
      .carousel-control {
        display: block !important;
        .glyphicon {
          //height: 100%;
          position: absolute;
          top: 46%;
          width: 60px * @retina-factor;
          &.left {
            left: 15px;
            transform: rotate(180deg);
          }
          &.right {
            right: 15px;
          }
          svg {
            .border {
              fill: @white;
            }
            .circle {
              fill: @white;
            }
          }
        }
      }
      .carousel-indicators {
        bottom: 4px;
      }
      .carousel-caption {
        bottom: 161px * @retina-factor !important;
        left: 50% !important;
        text-align: left;
        width: 100%;
        .carousel-caption__quote {
          margin: 0 0 0pt !important;
          padding: 10.5pt 21pt 0 0pt !important;
          text-align: left;
          width: 40%;
        }
        .carousel-caption__name,
        .carousel-caption__relation {
          text-align: left;
        }
      }
    }
    .thumbnail-controls {
      .container {
        padding-left: 0px !important;
        padding-right: 0px !important;
      }
    }
  }
  .container--carousel {
      padding-bottom: 0px !important;
    &.container--onepager {
      padding-bottom: 57px !important;
      .container--carousel__slides {
        .container--carousel__slides__item {
          .carousel-caption {
            left: 500px !important;
            width: 80% !important;
            &.other-direction {
              left: 227px !important;
            }
            .carousel-caption__text {
              text-align: left !important;
              width: 50% !important;
            }
          }
        }
      }
    }
    .row {
        .fullsize {
          padding-left: 0px !important;
          padding-right: 0px !important;
        }
      }
      .carousel {
        .container--carousel__slides__item__image {
          height: 610px * @retina-factor !important;
        }
        .thumbnail-controls {
          position: absolute;
          bottom: 0px * @retina-factor !important;
          width: 100%;
          .container,
          .container-fluid {
            width: 930px !important;
            .container--carousel__thumbnails {
              .container--carousel__thumbnails__item {
                .item__image__text {
                  display: block !important;
                }
                &:nth-child(1) {
                  .item__overlay {
                    border-radius: 20px 0 0 0;
                  }
                  .item__image {
                    img {
                      border-radius: 20px 0 0 0;
                      top: 0px !important;
                    }
                  }
                }
                &:nth-child(3) {
                  .item__overlay {
                    border-radius: 0 20px 0 0;
                  }
                  .item__image {
                    img {
                      border-radius: 0 20px 0 0;
                      top: 0px !important;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
}
// DESKTOP::END

// MOBILE::START
.container--carousel {
  //margin-left: -15px;
  //margin-right: -15px;
  padding-bottom: 57px;
  &.container--onepager {
    margin-bottom: -57px;
    padding-bottom: 57px;
    &.container--carousel-detail {
      .container--carousel__slides {
        .container--carousel__slides__item {
          .carousel-caption {
            top: 60px;
            .carousel-caption__quote {
              font-size: 34px;
              position: relative;
            }
            .carousel-caption__text {
              font-size: 14px;
              font-family: @font-family-open-sanse;
              font-weight: normal;
              line-height: 14px;
              margin-bottom: 22px;
              margin-top: 22px;
              text-align: center;
              top: auto;
              width: 100%;
            }
            .carousel-caption__name,
            .carousel-caption__relation {
              display:  none;
            }
          }
        }
      }
    }
  }
  &.container--carousel-detail {
    .container--carousel__slides {
      .container--carousel__slides__item {
        .carousel-caption {
          bottom: 87px * @retina-factor;
          left: 5%;
          line-height: 53px * @retina-factor;
          right: 5%;
          .carousel-caption__quote {
            border: none;
            font-family: @font-family-heart;
            font-size: 41px * @retina-factor;
          }
          .carousel-caption__name,
          .carousel-caption__relation {
            font-size: 27px * @retina-factor;
            position: relative;
            top: 15px;
          }
          .carousel-caption__name {
            font-weight: bold;
          }
        }
        .container--carousel__slides__item__image {
          height: 750px * @retina-factor;
        }
      }
    }
    .carousel {
      .carousel-control {
        display: none;
      }
      .carousel-indicators {
        display: block;
        li {
          background: @white;
          border: none;
          height: 20px * @retina-factor;
          margin: 0 0 0 15px * @retina-factor;
          width: 20px * @retina-factor;
          &.active {
            background-color: @blue;
            height: 20px * @retina-factor;
            margin: 0 0 0 15px * @retina-factor;
            width: 20px * @retina-factor;
          }
        }
      }
    }
    .container--carousel__thumbnails {
      display: none;
    }
  }
  .carousel {
    .thumbnail-controls {
      position: absolute;
      bottom: -112px * @retina-factor;
      width: 100%;
      .container {
        margin-right: auto;
        margin-left: auto;
        //padding-left: 0px;
        //padding-right: 0px;
        width: 100%;
        .item__image__text {
          display: none;
        }
      }
    }
    .carousel-control,
    .carousel-indicators {
      display: none;
    }
  }
  .container--carousel__slides {
    .container--carousel__slides__item {
      .container--carousel__slides__item__image {
        height: 594px * @retina-factor;
        .slide-background {
          background-color: @black;
          position: absolute;
          top: 0px;
          bottom: 0px;
          left: 0px;
          right: 0px;
          opacity: .3;
        }
      }
      .carousel-caption {
        bottom: 80px;
        .carousel-caption__quote {
          padding: 10.5pt 21pt 0 0pt !important;
          margin: 0 0 0pt !important;
        }
        .carousel-caption__text {
          font-family: @font-family-heart;
          font-size: 90px * @retina-factor;
          font-weight: bold;
          line-height: 50px;
          position: relative;
          text-align: center;
          top: -20px;
          width: 100%
        }
        .carousel-caption__button {
          background: none;
          border: 1px solid @white;
          border-radius: 25px * @retina-factor;
          color: @white;
          font-family: @font-family-open-sanse-condensed;
          font-size: 27px * @retina-factor;
          height: 81px * @retina-factor;
          //max-width: 310px * @retina-factor;
          //width: 100%;
          &:hover,
          &:active {
            border-color: @blue;
            .carousel-caption__button__text {
              color: @blue;
            }
            .carousel-caption__button__arrow {
              svg {
                path.circle,
                .arrow {
                  stroke: @blue;
                  fill: @blue;
                }
              }
            }
          }
          .carousel-caption__button__text {
            float: left;
            font-weight: bold;

            display: inline-block;
            line-height: 53px * @retina-factor;
            padding-left: 13px;//48px * @retina-factor;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
          }
          .carousel-caption__button__arrow {
            float: left;
            display: inline-block;
            line-height: 83px * @retina-factor;
            padding-left: 10px;
            padding-right: 6px;//26px * @retina-factor;
            position: relative;
            svg {
              height: 47px * @retina-factor;
              width: 47px * @retina-factor;
              path {
                fill: @white;
                stroke: @white;
              }
            }
          }
        }
      }
    }
  }
  .container--carousel__thumbnails {
    display: flex;
    flex-direction: row;
    .container--carousel__thumbnails__item {
      cursor: pointer;
      flex-grow: 1;
      //max-width: 100/3%;
      position: relative;
      &.active {
        .item__overlay {
          opacity: 0;
        }
      }
      .item__overlay {
        position: absolute;
        background-color: @blue;
        height: 57px;
        left: 0px;
        right: 0px;
        //width: 100%;
        opacity: .6;
        z-index: 1;
      }
      .item__image {
        border: none;
        bottom: 0px;
        height: 114px * @retina-factor;
        width: 100%;
        overflow: hidden;
      }
      .item__image__text {
        color: @white;
        font-family: @font-family-open-sanse-condensed;
        font-size: 30px * @retina-factor;
        font-weight: bold;
        height: 100%;
        line-height: 120px * @retina-factor;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        text-shadow: @carousel-text-shadow;
        width: 100%;
        z-index: 2;
      }
      &:active {
        .item__overlay {
          opacity: .6;
        }
      }
    }
  }
}
// MOBILE::END

// ANIMATION
.carousel-fade {
  .carousel-inner {
    .item {
      transition-property: opacity;
    }

    .item,
    .active.left,
    .active.right {
      opacity: 0;
    }

    .active,
    .next.left,
    .prev.right {
      opacity: 1;
    }

    .next,
    .prev,
    .active.left,
    .active.right {
      left: 0;
      transform: translate3d(0, 0, 0);
    }
  }

  .carousel-control {
    z-index: 2;
  }
}

