// TABLET::START
@media (min-width: @tablet_min) and (max-width: @tablet_max) {
  .item__image__text {
    display: block !important;
  }
}
// TABLET::END

// DESKTOP::START
@media (min-width: @desktop_min) {
  .container--carousel {
    .carousel {
      .container--carousel__slides__item__image {
        height: 610px * @retina-factor !important;
      }
      .thumbnail-controls {
        position: absolute;
        bottom: 0px * @retina-factor !important;
        width: 100%;
        .container {
          width: 1170px !important;
          .item__image__text {
            display: block !important;
          }
        }
      }
    }
  }
}
// DESKTOP::END

.container--carousel {
  //margin-left: -15px;
  //margin-right: -15px;
  &.container--carousel-variety {
    .container--carousel__slides {
      .container--carousel__slides__item {
        .carousel-caption {
          bottom: 87px * @retina-factor;
          left: 5%;
          line-height: 53px * @retina-factor;
          right: 5%;
          .carousel-caption__quote {
            border: none;
            font-family: @font-family-crete;
            font-size: 41px * @retina-factor;
          }
          .carousel-caption__name,
          .carousel-caption__relation {
            font-size: 27px * @retina-factor;
          }
          .carousel-caption__name {
            font-weight: bold;
          }
        }
        .container--carousel__slides__item__image {
          height: 798px * @retina-factor;
        }
      }
    }
    .carousel {
      .carousel-control {
        display: none;
      }
      .carousel-indicators {
        display: block;
        li {
          background: @white;
          border: none;
          height: 20px * @retina-factor;
          margin: 0 0 0 15px * @retina-factor;
          width: 20px * @retina-factor;
          &.active {
            background-color: @green;
            height: 20px * @retina-factor;
            margin: 0 0 0 15px * @retina-factor;
            width: 20px * @retina-factor;
          }
        }
      }
    }
    .container--carousel__thumbnails {
      display: none;
    }
  }
  .carousel {
    .thumbnail-controls {
      position: absolute;
      bottom: -113px * @retina-factor;
      width: 100%;
      .container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
        .item__image__text {
          display: none;
        }
      }
    }
    .carousel-control,
    .carousel-indicators {
      display: none;
    }
  }
  .container--carousel__slides {
    .container--carousel__slides__item {
      .container--carousel__slides__item__image {
        height: 594px * @retina-factor;
      }
      .carousel-caption {
        bottom: 105px * @retina-factor;
        .carousel-caption__text {
          font-family: @font-family-crete;
          font-size: 90px * @retina-factor;
          position: absolute;
          text-align: center;
          top: -150px * @retina-factor;
          width: 100%
        }
        .carousel-caption__button {
          background: none;
          border: 1px solid @white;
          border-radius: 50px;
          color: @white;
          font-family: @font-family-crete;
          font-size: 27px * @retina-factor;
          height: 81px * @retina-factor;
          max-width: 310px * @retina-factor;
          width: 100%;
          &:hover,
          &:active {
            border-color: @green;
            .carousel-caption__button__text {
              color: @green;
            }
            .carousel-caption__button__arrow {
              svg {
                path.circle,
                .arrow {
                  stroke: @green;
                  fill: @green;
                }
              }
            }
          }
          .carousel-caption__button__text {
            float: left;
            display: inline-block;
            line-height: 53px * @retina-factor;
            padding-left: 48px * @retina-factor;
          }
          .carousel-caption__button__arrow {
            float: right;
            display: inline-block;
            line-height: 91px * @retina-factor;
            padding-right: 26px * @retina-factor;
            svg {
              height: 47px * @retina-factor;
              width: 47px * @retina-factor;
              path {
                fill: @white;
                stroke: @white;
              }
            }
          }
        }
      }
    }
  }
  .container--carousel__thumbnails {
    display: flex;
    flex-direction: row;
    .container--carousel__thumbnails__item {
      flex-grow: 1;
      max-width: 100/3%;
      position: relative;
      .item__overlay {
        position: absolute;
        background-color: @green;
        opacity: 0;
        width: 100%;
        height: 100%;
      }
      .item__image {
        border: none;
        height: 113px * @retina-factor;
        width: 100%;
      }
      .item__image__text {
        color: @white;
        font-family: @font-family-crete;
        font-size: 30px * @retina-factor;
        height: 100%;
        line-height: 120px * @retina-factor;
        position: absolute;
        text-align: center;
        width: 100%;
      }
      &:hover,
      &:active {
        .item__overlay {
          opacity: .8;
        }
      }
    }
  }
}
