// Mixing functions
.create-label(@color) {
  border: 1px solid @color;
  clear: right;
  display: table-cell;
  line-height: @label-line-height;
  margin-bottom: 15px * @retina-factor;
  padding: 4px * @retina-factor;
  vertical-align: bottom;
  text-align: left;
  .label-square {
    color: @color;
    font-size: 20px * @retina-factor;//@label;
    line-height: 23px * @retina-factor;//@label-line-height;
    font-weight: bold;
    padding: 5px * @retina-factor;
  }
}

// TABLET::START
@media (min-width: @tablet_min) and (max-width: @tablet_max_quote) {
  p {
    &.quote {
      left: -225px !important;
    }
  }
}
@media (min-width: @tablet_min) and (max-width: @tablet_max) {
  .content__paragraaf {
    p {
      &.quote {
        left: -300px;
        position: absolute;
        top: 0px;
        width: 40%;
      }
    }
    .content__image--extra-small {
      //margin-left:-415px;
      //min-width: 215%;
    }
  }
}
// TABLET::END

// DESKTOP::START
@media (min-width: @desktop_min) {
  .content__paragraaf {
    p {
      &.quote {
        //left: -300px;
        //position: absolute;
        //top: 0;
        //width: 50%;
      }
    }
    .content__image--extra-small {
      //margin-left: -415px;
      //width: 185%;
    }
  }
}
// DESKTOP::END

// MOBILE::START
.content {
  .content__paragraaf {
    padding-left: 60px * @retina-factor;
    padding-right: 60px * @retina-factor;
    .content__paragraaf__title,
    h4,
    h3,
    h2 {
      font-family: @font-family-crete;
      font-size: @H2;
      font-weight: bold;
      line-height: @H2-line-height;
      margin-bottom: 6px * @retina-factor;
      padding-bottom: 0px * @retina-factor;
    }
    h3 {
      font-size: @H3;
      line-height: @H3-line-height;
    }
    h4 {
      font-size: @H4;
      line-height: @H4;
    }
    .content__paragraaf__description--bold,
    p,
    address,
    ul,
    ol,
    .content__paragraaf__description--normal {
      font-family: @font-family-open-sanse;
      font-size: 27px * @retina-factor;
      font-weight: normal;
      margin-bottom: 37px * @retina-factor;
      padding-top: 24px * @retina-factor;
    }
    .content__paragraaf__description--normal {
      font-weight: normal;
    }
    .content__paragraaf__description--bold {
      font-weight: bold;
    }
    p,
    caption,
    td,
    th {
      strong {
        font-weight: bold;
      }
      mark {
        background-color: @light-grey;
      }
      &.quote {
        border: none;
        font-family: @font-family-crete;
        font-size: 47px * @retina-factor;
        font-style: italic;
        font-weight: bold;
        line-height: 60px * @retina-factor;
        margin-bottom: 63px * @retina-factor;
        padding-bottom: 16px * @retina-factor;
        padding-top: 45px * @retina-factor;
      }
      a {
        text-decoration: underline;
      }
    }
    td,
    caption {
      font-family: @font-family-open-sanse;
      font-size: 27px * @retina-factor;
    }
    address {
      margin-bottom: 0px;
      padding-top: 0px;
      strong {
        font-weight: bold;
      }
    }
    figure {
      embed {
        border-radius: 20px;
        height: 206px;
        width: 100% !important;
      }
    }
    .content__introduction--image__image {

    }
  }
}
// MOBILE::END
