// TABLET::START
@media (min-width: @tablet_min) and (max-width: @tablet_max) {
  .container,
  .container-fluid {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    .row {
      .fullsize {
        padding: 0px;
      }
    }
  }
}
// TABLET::END

// DESKTOP::START
@media (min-width: @desktop_min) {
  .container,
  .container-fluid {
    .row {
      .fullsize {
        padding: 0px;
      }
    }
  }
}
// DESKTOP::END

// MOBILE::START
.container,
.container-fluid {
  .row {
    .fullsize {
      padding: 0px;
    }
  }
}
// MOBILE::END
