// TABLET::START
@media (min-width: @tablet_min) and (max-width: @tablet_max) {
  .navigation {
    &.footer {
      .container-fluid,
      .container {
        .row {
          .fullsize {
            padding-left: 0px !important;
            padding-right: 0px !important;
            .footer__menu {
              float: left;
              width: 100%;
              .footer__menu__item {
                &:last-child {
                  display: none;
                }
                .footer__menu__item__label {
                  line-height: 30px * @retina-factor;
                  &.footer__menu__item__label--social {
                    .info {
                      padding-top: 10px;
                      .country,
                      .phone,
                      .mail {
                        clear: none;
                        font-size: 18px * @retina-factor;
                        line-height:60px * @retina-factor;
                        padding-right: 60px * @retina-factor;
                      }
                    }
                  }
                }
              }
            }
            .footer__sub-menu {
              display: block;
            }
          }
        }
      }
    }
  }
}
// TABLET::END

// DESKTOP::START
@media (min-width: @desktop_min) {
  .navigation {
    &.footer {
      .container-fluid,
      .container {
        .row {
          .fullsize {
            padding-left: 0px !important;
            padding-right: 0px !important;
            .footer__menu {
              float: left;
              width: 100%;
              .footer__menu__item {
                &:last-child {
                  display: none;
                }
                .footer__menu__item__label {
                  line-height: 30px * @retina-factor;
                  &.footer__menu__item__label--social {
                    .info {
                      padding-top: 10px;
                      .country,
                      .phone,
                      .mail {
                        clear: none;
                        font-size: 18px * @retina-factor;
                        line-height:60px * @retina-factor;
                        padding-right: 60px * @retina-factor;
                      }
                    }
                  }
                }
              }
            }
            .footer__sub-menu {
              display: block;
            }
          }
        }
      }
    }
  }
}
// DESKTOP::END

// MOBILE::START
// Mixin funcions
// footer-social-hover::start
.social-hover(@name) {
  svg {
    path {
      fill: @white;
    }
    circle {
      fill-opacity: 1;
      fill: @name;
    }
  }
}
// footer-social-hover::end
// footer-icon::start
.footer-icon() {
  clear: left;
  float: left;
  margin-bottom: 60px * @retina-factor;
  &:hover {
    color: @green;
    svg {
      path,
      polygon {
        fill: @green;
      }
    }
  }
  &:active {
    background-color: @navigation-backgroundcolor;
    color: @green;
  }
}
// footer-icon::end

.navigation {
  border-radius: 0;
  border-width: 0;
  font-family: @font-family-crete;
  font-size: 32px * @retina-factor;//@body;
  line-height: @body-line-height;
  .footer__menu {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    &.footer__menu--search {
      &.in {
        border-top: none;
      }
    }
    &.in {
      border-top: 1px solid @dark-grey;
    }
    .nav {
      &.navbar-nav {
        margin-top: 0px;
      }
    }
    .footer__menu__item {
      .dropdown-menu {
        padding: 0px;
      }
      &.start {
        margin-top: -6px * @retina-factor;
      }
      .footer__menu__item__label {
        background-color: @footer-backgroundcolor;
        border-bottom: 1px solid @grey;
        color: @white;
        padding: 38px * @retina-factor 0px 38px * @retina-factor 60px * @retina-factor;
        .info {
          //display: none;
        }
        &.footer__menu__item__label--social {
          display: flex;
          .footer__menu__item__label--social__item {
            padding-right: 35px * @retina-factor;
            &.twitter {
              &:hover {
                .social-hover(@twitter);
              }
            }
            &.facebook {
              &:hover {
                .social-hover(@facebook);
              }
            }
            &.youtube {
              &:hover {
                .social-hover(@youtube);
              }
            }
            &.linkedin {
              &:hover {
                .social-hover(@linkedin);
              }
            }
            svg {
              width: 95px * @retina-factor;
            }
            &:hover {
              background-color: @navigation-backgroundcolor;
            }
          }
          &:active {
            background-color: @navigation-backgroundcolor;
            fill: red;
          }
        }
        &:hover {
          color: @green;
        }
        &:active {
          background-color: @green;
          color: @white;
        }
        &.footer__menu__item__label--contact,
        &.footer__menu__item__label--social {
          font-family: @font-family-open-sanse;
          display: flex;
          padding: 60px * @retina-factor 60px * @retina-factor 60px * @retina-factor 60px * @retina-factor;
          .logo {
            border: 1px solid @white;
            min-width: 180px * @retina-factor;
            width: 100%;
          }
          .info {
            font-size: 21px * @retina-factor;
            padding-left: 30px * @retina-factor;
            .country,
            .copyright {
              clear: left;
              color: @dark-grey;
              float: left;
            }
            .country {
              margin-bottom: 28px * @retina-factor;
            }
            .phone {
              .footer-icon();
            }
            .mail {
              .footer-icon();
            }
            * {
              clear: both;
              display: inline-block;
              .icon {
                bottom: -12px * @retina-factor;
                display: inline-block;
                position: relative;
                width: 25px * @retina-factor;
              }
            }
          }
          &:hover {
            color: @white;
          }
          &:active {
            background-color: @navigation-backgroundcolor;
            color: @white;
          }
        }
      }
    }
  }
  .footer__sub-menu {
    background-color: @navigation-backgroundcolor;
    display: none;
    height: 100%;
    position: absolute;
    padding: 60px * @retina-factor 30px * @retina-factor 0px 0px;
    right: 0px;
    text-align: center;
    top: 0px;
    width: 244px * @retina-factor;
    .logo {
      border: 1px solid #fff;
      margin-left: 40px * @retina-factor;
      max-width: 306px * @retina-factor;
    }
    .copyright {
      color: @dark-grey;
      font-family: @font-family-open-sanse;
      font-size: 16px * @retina-factor;
      padding-left: 60 * @retina-factor;
    }
  }}
// MOBILE::END
