@brand-primary: @black;
@font-size: 26px;
@line-height: 1.4;
@lines-to-show: 2;


.itemslist {
  .itemslist__header {
    line-height: 100px;
    font-family: @font-family-crete;
    font-weight: bold;
    text-align: center;
  }
  .itemslist__item {
    border: 1px solid @grey;
    display: flex;
    margin-top: 15px;
    padding: 15px 0px;
    height: 200px;
    &.first {
      margin-top: 0px;
    }
    .itemslist__item__image {
      border: 1px solid @grey;
      float:left;
      height: 170px;
      max-width: 170px;
      margin-left: 10px;
      width: 100%;
    }
    .itemslist__item__content {
      padding-left: 15px;
      .itemslist__item__title {
        border: 1px solid @grey;
        clear: right;
        display: inline;
        float: left;
        line-height: @label-line-height;
        margin-bottom: 0px;
        padding: 4px;
        text-align: left;
        .label-square {
          color: @itemlist-color;
          font-size: @label;
          font-weight: bold;
          line-height: @label-line-height;
          padding: 0px;
        }
      }
      .itemslist__item__description,
      .itemslist__item__date {
        clear: left;
        float: left;
        font-family: @font-family-crete;
        margin-top: 10px;
      }
      .itemslist__item__description {
        &.block-with-text {
          display: block; /* Fallback for non-webkit */
          display: -webkit-box;
          max-width: 400px;
          height: @font-size*@line-height*@lines-to-show; /* Fallback for non-webkit */
          margin: 0 auto;
          font-size: @font-size;
          line-height: @line-height;
          -webkit-line-clamp: @lines-to-show;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .itemslist__item__date {
        font-family: @font-family-open-sanse;
        font-size: @label;
        font-weight: bold;
        line-height: 1.2 * @label-line-height;
      }
    }
    .itemslist__item__link {
      align-self: flex-end;
      bottom: 10px;
      color: @green;
      display: inline-block;
      flex-shrink: 0;
      font-size: @label;
      height: 2 * @label;
      line-height: 1.8 * @label-line-height;
      position: absolute;
      right: 25px;
      text-align: center;
      vertical-align: middle;
      width: 2 * @label;
      svg {
        path {
          fill: @green;
        }
      }
    }
  }
}

