@brand-primary: @black;
@font-size: 0.8 * @body;
@line-height: 1.4;
@lines-to-show: 2;

// TABLET::START
@media (min-width: @tablet_min) and (max-width: @tablet_max) {
  .itemslist {
    .article--list {
      .itemslist__item {
        .itemslist__item__content {
          .itemslist__item__description {
            &.block-with-text {
              max-width: 80%;
            }
          }
        }
        .itemslist__item__link {
          right: 60px * @retina-factor;
        }
      }
    }
  }
}
// TABLET::END

// DESKTOP::START
@media (min-width: @desktop_min) {
  .itemslist {
    .article--list {
      .itemslist__item {
        .itemslist__item__content {
          .itemslist__item__description {
            &.block-with-text {
              max-width: 80%;
            }
          }
        }
        .itemslist__item__link {
          right: 60px * @retina-factor;
        }
      }
    }
  }
}
// DESKTOP::END

// MOBILE::START
.itemslist {
  &.container {
    .fullsize {
      .article--list {
        padding-left: 4px;
        padding-right: 4px;
      }
    }
  }
  &.itemslist--variety-detail {
    padding-top: 50px * @retina-factor;
  }
  &.itemslist--content {
    padding-top: 67px * @retina-factor;
  }
  .article--list {

  }
  .itemslist__header {
    line-height: 80px * @retina-factor;
    font-family: @font-family-heart;
    font-size: 42px * @retina-factor;
    font-weight: bold;
    margin-bottom: 36px * @retina-factor;
    margin-top: 6px * @retina-factor;
    text-align: center;
  }
  .itemslist__item {
    border: 1px solid @grey;
    border-radius: 20px;
    display: flex;
    margin-top: 27px * @retina-factor;
    padding: 19px * @retina-factor 0px;
    height: 212px * @retina-factor;
    &:hover {
      background-color: @light-grey;
    }
    &.first {
      margin-top: 0px;
    }
    .itemslist__item__image {
      border: 1px solid @grey;
      border-radius: 10px;
      float:left;
      height: 173px * @retina-factor;
      max-width: 177px * @retina-factor;
      margin-left: 18px * @retina-factor;
      width: 100%;
    }
    .itemslist__item__content {
      padding-left: 30px * @retina-factor;
      .itemslist__item__title {
        border: 1px solid @grey;
        clear: right;
        display: inline;
        float: left;
        letter-spacing: 0px;
        line-height: 0px;
        margin-bottom: 4px * @retina-factor;
        margin-top: 9px * @retina-factor;
        padding: 4px * @retina-factor 10px * @retina-factor;
        text-align: left;
        .label-square {
          color: @blue;//@itemlist-color;
          font-size: 17px * @retina-factor;//@label;
          line-height: @label-line-height * @retina-factor;
          font-weight: bold;
          padding: 0px;
        }
      }
      .itemslist__item__description,
      .itemslist__item__date {
        clear: left;
        float: left;
        font-family: @font-family-heart;
        margin-top: -11px * @retina-factor;
      }
      .itemslist__item__description {
        &.block-with-text {
          display: block; /* Fallback for non-webkit */
          display: -webkit-box;
          max-width: 343px * @retina-factor;
          height: 25px * @line-height * @lines-to-show * @retina-factor; /* Fallback for non-webkit */
          margin: 0 auto;
          font-size: 30px * @retina-factor;
          line-height: 34px * @retina-factor;
          -webkit-line-clamp: @lines-to-show;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .itemslist__item__date {
        font-family: @font-family-open-sanse;
        font-size: 17px * @retina-factor;//@label;
        font-weight: bold;
        line-height: 1.2 * @label-line-height * @retina-factor;
      }
    }
    .itemslist__item__link {
      align-self: flex-end;
      bottom: 20px * @retina-factor;
      color: @blue;
      display: inline-block;
      flex-shrink: 0;
      font-size: @label;
      height: 48px * @retina-factor;//2 * @label;
      line-height: 1.8 * @label-line-height * @retina-factor;
      position: absolute;
      right: 56px * @retina-factor;
      text-align: center;
      vertical-align: middle;
      width: 48px * @retina-factor;//2 * @label;
      svg {
        path {
          fill: @blue;
        }
      }
    }
  }
}
// MOBILE::END
