.navigation {
  border-radius: 0;
  border-width: 0;
  font-family: @font-family-crete;
  font-size: @body;
  line-height: @body-line-height;
  .navigation__menu {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    &.in {
      border-top: 1px solid @dark-grey;
    }
    .nav {
      &.navbar-nav {
        margin-top: 0px;
      }
    }
    .navigation__menu__form {
      border-width: 0;
    }
    .navigation__menu__item {
      .dropdown-menu {
        padding: 0px;
      }
      .navigation__menu__item__label {
        color: @dark-grey;
        padding: 20px 0px 20px 25px;
      }
      &.navigation__menu__item--sub {
        background-color: @light-grey;
        border-bottom: 1px solid @grey;
        font-size: .65 * @body;
        padding-left: 30px;
        .navigation__menu__item__label {
          color: @dark-grey;
        }
      }
      &.navigation__menu__item--country {
        font-family: @font-family-open-sanse;
        font-size: .65 * @body;
        &.open {
          border-bottom: 1px solid @dark-grey;
          .navigation__menu__item__label {
            .arrow {
              right: -11px;
              top: -32px;
              transform: rotate(90deg);
              &:before {
                //content: '\e114';
              }
            }
          }
        }
        .navigation__menu__item__label {
          background-color: @navigation-backgroundcolor;
          border: 1px solid @dark-grey;
          border-left: none;
          border-right: none;
          border-top: none;
          color: #fff;
          padding-right: 20px;
          .flag {
            margin-right: 5px;
          }
          .arrow {
            display: inline-block;
            height: 50px;
            width: 60px;
            float: right;
            background-image: url('../images/icon-arrow3.svg');
            background-position:center;
            background-size: 150px 150px;
            background-repeat: no-repeat;
            transform: rotate(0deg);
            &:before {
              //content: '\e080';
            }
          }
        }
        .dropdown-menu {
          height: 52pt;
          //height:2 * @navbar-margin-bottom;
        }
      }
      &.navigation__menu__item--contact {
        font-family: @font-family-open-sanse;
        font-size: .65 * @body;
        .navigation__menu__item__label {
          &.navigation__menu__item__label--email,
          &.navigation__menu__item__label--phone {
            display: inline;
            float: left;
            vertical-align: middle;
            width: 50%;
          }
          &.navigation__menu__item__label--phone {
            border-left: 1px solid @dark-grey;
            clear: right;
            text-align: center;
            width: 50%;
          }
        }
      }
    }
  }
  .navbar-header {
    border-bottom: 0px solid @dark-grey;
    &.flex {
      background-color: #fff;
      display: flex;
    }
  }
  .navigation__button {
    border-radius: 0;
    border-width: 0;
    color: #fff;
    font-size: @navigation-fontsize;
    height: @navbar-height + @navbar-margin-bottom/2;
    margin: 0px;
    &.navigation__button--hamburger {
      background-color: #000;
      background-image: url('../images/icon-cross.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 15px 15px;
      height: @navbar-height + @navbar-margin-bottom/2;
      order: 1;
      width: 1.5 * (@navbar-height + @navbar-margin-bottom/2);
      .menu {
        &:before {
          //content: "\e014";
        }
      }
      &.collapsed {
        background-image: url('../images/icon-cross.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 15px 15px;
        .menu {
          &:before {
            //content: "\e236";
          }
        }
      }
    }
    &.navigation__button--logo {
      flex-shrink: 0;
      order: 4;
      padding: 0px 20px 0 0;
      right: 20px;
      top: 0px;
      width: 2 * (@navbar-height + @navbar-margin-bottom/2);
      .navigation__button__image {
        max-width: 100px;
        padding: 0px;
        position: absolute;
        z-index: 1;
      }
      &.hide-logo {
        opacity: 0;
      }
    }
    &.navigation__button--search {
      background-color: #fff;
      color: #333;
      height: @navbar-height + @navbar-margin-bottom/2;
      margin: 0px;
      order: 3;
      position: relative;
      width: 1.5 * (@navbar-height + @navbar-margin-bottom/2);
    }
    &.navigation__button--enza {
      background-color: @navigation-backgroundcolor;
      color: @navigation-color;
      height: @navbar-height + @navbar-margin-bottom/2;
      order: 2;
      position: relative;
      text-align: left;
      width: 100%;
    }
  }
  .flag {
    background:url(../images/flags.png) no-repeat;
    background-position: -176px -44px;
    display: inline-block;
    height: 11px;
    width: 16px;
    &.flag-gb {
      background-position: -176px -44px;
    }
    &.flag-nl {
      background-position: -80px -110px;
    }
  }
}
