.navigation {
  border-radius: 0;
  border-width: 0;
  font-family: @font-family-crete;
  font-size: 32px;//@body;
  line-height: @body-line-height;
  margin-bottom: 0px;
  .navigation__menu {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    &.collapsing {
      -webkit-transition: none;
      transition: none;
    }
    &.navigation__menu--search {
      &.in {
        border-top: none;
      }
    }
    &.in {
      border-top: 1px solid @dark-grey;
    }
    .nav {
      &.navbar-nav {
        margin-top: 0px;
      }
    }
    .navigation__menu__form {
      border-width: 0;
      font-size: @body;
      line-height: @body-line-height;
    }
    .navigation__menu__item {
      .dropdown-menu {
        padding: 0px;
      }
      &.start {
        margin-top: -6px;
      }
      .navigation__menu__item__label {
        color: @dark-grey;
        padding: 38px 0px 38px 47px;
        &:hover {
          color: @green;
        }
        &:active {
          background-color: @green;
          color: @white;
        }
      }
      &.navigation__menu__item--sub {
        background-color: @light-grey;
        border-bottom: 1px solid @grey;
        font-size: 28px;//.8 * @body;
        line-height: .8 * @body-line-height;
        .navigation__menu__item__label {
          color: @dark-grey;
          padding-left: 83px;
          &:hover {
            color: @green;
          }
          &:active {
            background-color: @green;
            color: @white;
          }
        }
      }
      &.navigation__menu__item--country,
      &.navigation__menu__item--contact {
        font-family: @font-family-open-sanse;
        font-size: 19px;//.65 * @body;
        line-height: .65 * @body-line-height;
        &.open {
          .navigation__menu__item__label {
            .arrow {
              right: 40px;
              top: 25px;
              transform: rotate(90deg);
              &:before {
                //content: '\e114';
              }
            }
          }
        }
        .navigation__menu__item__label {
          background-color: @navigation-backgroundcolor;
          border: 1px solid @dark-grey;
          border-left: none;
          border-right: none;
          border-top: none;
          color: #fff;
          padding-right: 20px;
          &:hover {
            background-color: @navigation-backgroundcolor;
            color: @green;
          }
          &:active {
            background-color: @green;
            color: @white;
          }
          .flag {
            margin-right: 5px;
          }
          .arrow {
            display: inline-block;
            height: 50px;
            width: 50px;
            float: right;
            //background-image: url('../images/icon-arrow3.svg');
            //background-position:center;
            //background-size: 150px 150px;
            background-repeat: no-repeat;
            position: absolute;
            right: 40px;
            top: 25px;
            transform: rotate(0deg);
            svg {
              .circle  {
                visibility: hidden;
              }
            }
            &:before {
              //content: '\e080';
            }
          }
        }
        .dropdown-menu {
          height: 100%;
        }
      }
      &.navigation__menu__item--contact {
        display: inline-block;
        width: 100%;
        .navigation__menu__item__label {
          &:hover {
            color: @green;
          }
          &:active {
            background-color: @green;
            color: @white;
          }
          &.navigation__menu__item__label--email,
          &.navigation__menu__item__label--phone {
            display: inline-block;
            float: left;
            width: 50%;
          }
          &.navigation__menu__item__label--phone {
            border-left: 1px solid @dark-grey;
            text-align: center;
            width: 50%;
          }
        }
      }
    }
  }
  .navbar-header {
    border-bottom: 0px solid @dark-grey;
    &.flex {
      background-color: #fff;
      display: flex;
    }
  }
  .navigation__button {
    border-radius: 0;
    border-width: 0;
    color: #fff;
    font-size: 32px;//@navigation-fontsize;
    height: 103px;//@navbar-height + @navbar-margin-bottom/2;
    margin: 0px;
    &.navigation__button--hamburger {
      background-color: @navigation-backgroundcolor;
      //background-image: url('../images/icon-cross.svg');
      //background-position: center;
      //background-repeat: no-repeat;
      background-size: 15px 15px;
      height: 103px;//@navbar-height + @navbar-margin-bottom/2;
      order: 1;
      width: 288px;//1.5 * (@navbar-height + @navbar-margin-bottom/2);
      .menu {
        svg {
          height: 27px;
          width: 27px;
          &.hamburger {
            display: none;
          }
          &.cross {
            //
          }
        }
        &:before {
          //content: "\e014";
        }
      }
      &.collapsed {
        //background-image: url('../images/icon-hamburger.svg');
        //background-position: center;
        //background-repeat: no-repeat;
        //background-size: 15px 15px;
        .menu {
          svg {
            &.hamburger {
              display: block;
            }
            &.cross {
              display: none;
            }
          }
          &:before {
            //content: "\e236";
          }
        }
      }
    }
    &.navigation__button--logo {
      flex-shrink: 0;
      order: 4;
      padding: 0px 20px 0 0;
      right: 20px;
      top: 0px;
      width: 178px;//2 * (@navbar-height + @navbar-margin-bottom/2);
      .navigation__button__image {
        border: 1px solid @white;
        max-width: 150px;
        padding: 0px;
        position: absolute;
        z-index: 0;
      }
      &.hide-logo {
        opacity: 0;
      }
    }
    &.navigation__button--search {
      background-color: #fff;
      color: #333;
      height: 103px;//@navbar-height + @navbar-margin-bottom/2;
      margin: 0px;
      order: 3;
      position: relative;
      width: 298px;//1.5 * (@navbar-height + @navbar-margin-bottom/2);
      svg {
        height: 27px;
        width: 27px;
      }
    }
    &.navigation__button--enza {
      background-color: @navigation-backgroundcolor;
      color: @navigation-color;
      height: 103px;//@navbar-height + @navbar-margin-bottom/2;
      order: 2;
      position: relative;
      text-align: center;
      width: 100%;
    }
  }
  .flag {
    background:url(../images/flags.png) no-repeat;
    background-position: -176px -44px;
    display: inline-block;
    height: 11px;
    width: 16px;
    &.flag-gb {
      background-position: -176px -44px;
    }
    &.flag-nl {
      background-position: -80px -110px;
    }
    &.flag-us {
      background-position: -160px -154px;
    }
  }
}
