.numberresults {
  .numberresults__header {
    width: 100%;
    margin: 0;
    .numberresults__header__container {
      height: 70px * @retina-factor;
      border-radius: 50px * @retina-factor;
      padding: 0;
      position: relative;
      width: 100%;
      &:hover {
        background-color: @white;
        border-color: @blue;
        color: @blue;
      }
      .numberresults__header__container__text {
        color: @light-grey;
        float: left;
        font-family: @font-family-heart;
        font-size: 15px;//1.5 * @label * @retina-factor;
        font-weight: 700;
        letter-spacing: 1.5px;
        line-height: 16px;//70px * @retina-factor;
        margin-left: 20px * @retina-factor;
        text-align: left;
        vertical-align: middle;
        white-space: normal;
        word-wrap: break-word;
      }
    }
  }
}
