@brand-primary: @black;
// TABLET::START
@media (min-width: @tablet_min) and (max-width: @tablet_max) {

}
// TABLET::END

// DESKTOP::START
@media (min-width: @desktop_min) {

}
// DESKTOP::END

// MOBILE::START
.person-contact {
  .person-contact__information {
    border-bottom: 1px solid @light-grey;
    padding-bottom: 34px * @retina-factor;
    padding-top: 62px * @retina-factor;
    .person-contact__information__title {
      font-family: @font-family-crete;
      font-size: 34px * @retina-factor;
      margin-bottom: 22px * @retina-factor;
      text-align: center;
    }
    .person-contact__information__image {
      text-align: center;
      width: 100%;
      .image {
        border-radius: 50%;
        height: 156px * @retina-factor;
        margin-bottom: 15px * @retina-factor;
        width: 156px * @retina-factor;
      }
      .name {
        font-size: 26px * @retina-factor;
        font-weight: bold;
      }
      .job {
        font-size: 26px * @retina-factor;
        font-style: italic;
      }
      .mail {
        color: @green;
        font-size: 26px * @retina-factor;
        font-weight: bold;
      }
      .phone {
        color: @green;
        font-size: 26px * @retina-factor;
        font-weight: bold;
      }
    }
  }
}
// MOBILE::END
