//ENZA

//ENZA:Basic
@green: #aac426;
@white: #fff;
@dark-grey: #515151;
@grey: #ccc;
@light-grey: #ededed;
@near-black: #222;
@black: #000;
@percentage: .55;

@H1: @percentage * 90pt;
@H1-line-height: 90pt;
@H2: @percentage * 60pt;
@H2-line-height: 70pt;
@H3: @percentage * 42pt;
@H3-line-height: 52pt;
@H4: @percentage * 32pt;
@H4-line-height: 42pt;
@H5: @percentage * 32pt;
@H5-line-height: 42pt;
@H6: @percentage * 32pt;
@H6-line-height: 42pt;
@body: @percentage * 30pt;
@body-line-height: 38pt;
@list: 26pt;
@list-line-height: 36pt;
@label: @percentage * 22pt;
@label-line-height: @percentage * 24pt;
@tags: 22pt;
@tags-line-height: 24pt;
@description: 22pt;
@description-line-height: 24pt;

//ENZA::Navigation
@navigation-color: @white;
@navigation-backgroundcolor: @near-black;
@navigation-fontsize: @body;

//ENZA::Itemslist
@itemlist-color: @dark-grey;

//ENZA::Varietylist
@varietylist-color: @green;
