<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Enza zaden - Googlemaps WorldWide</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="stylesheet" href="../styles/main.css">
  <!-- build:js scripts/vendor/modernizr.js -->
  <script src="../bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild -->
</head>
<body>

<!-- GENERALOVERVIEWPAGE::START -->
<!-- VARIETY-DETAIL::START -->
<!-- VARIETY-DETAIL-HEADER::START -->
<div class="container-fluid variety-detail">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 fullsize">
      <section class="variety-detail__image js-variety-detail__image">
        <img src="http://loremflickr.com/1200/250/news?random=1" data-1x="http://loremflickr.com/2400/500/news?random=1" data-2x="http://loremflickr.com/news/news/4400/1000?random=1" alt="">
        <span class="variety-detail__image-title">Tomatos</span>
      </section>
    </div>
  </div>
</div>
<div class="container variety-detail">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <section class="variety-detail__header">
        <p class="variety-detail__title">
          Etude
        </p>
      </section>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <section class="variety-detail__header">
        <p class="variety-detail__description">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.
        </p>
      </section>
    </div>
  </div>
</div>
<!-- VARIETY-DETAIL-HEADER::END -->
<!-- VARIETY-DETAIL::START -->
<!-- VARIETY-DETAIL::END -->
<!-- GENERALOVERVIEWPAGE::END -->
<!-- GOOGLEMAPS-COUNTRY-SELECT::START -->
<div class="container">
  <div class="row">
    <div class="col-xs-offset-5 col-sm-offset-5 col-md-offset-5 col-lg-offset-5 col-xs-7 col-sm-7 col-md-7 col-lg-7">
      <div class="googlemaps visible-sm visible-md visible-lg">
        <form action="testcountrypage.html" class="js-country-form">
          <label for="country" class="googlemaps__label">Countries</label>
          <select id="country" name="country" class="googlemaps__select js-country-selector" data-maptype="worldwide"
                  data-offices="{ &quot;countries&quot;: [{ &quot;Winkelcode&quot;: &quot;&quot;,
&quot;Type&quot;: &quot;&quot;,
&quot;TypeDisplayName&quot;: &quot;Distributor&quot;,
&quot;Bedrijfsnaam&quot;: &quot;&quot;,
&quot;Adresregel 1&quot;: &quot;&quot;,
&quot;Adresregel 2&quot;: &quot;&quot;,
&quot;Plaats&quot;: &quot;&quot;,
&quot;District&quot;: &quot;&quot;,
&quot;Staat/provincie&quot;: &quot;&quot;,
&quot;Land&quot;: &quot;The Netherlands&quot;,
&quot;Postcode&quot;: &quot;&quot;,
&quot;Primair telefoonnummer&quot;: &quot;&quot;,
&quot;Aanvullende telefoonnummers&quot;: &quot;&quot;,
&quot;Website&quot;: &quot;&quot;,
&quot;Primaire categorie&quot;: &quot;Seed supplier&quot;,
&quot;Code&quot;: &quot;NL&quot;,
&quot;Longitude&quot;: &quot;53.1&quot;,
&quot;Latitude&quot;: &quot;5.31&quot;,
&quot;ImageSrc&quot;: &quot;/-/media/enza-zaden/enza-zaden-global/home3.ashx&quot;} ,{ &quot;Winkelcode&quot;: &quot;&quot;,
&quot;Type&quot;: &quot;&quot;,
&quot;TypeDisplayName&quot;: &quot;Commercial&quot;,
&quot;Bedrijfsnaam&quot;: &quot;EnzaZadenHQ&quot;,
&quot;Adresregel 1&quot;: &quot;Haling 1-E&quot;,
&quot;Adresregel 2&quot;: &quot;&quot;,
&quot;Plaats&quot;: &quot;Enkhuizen&quot;,
&quot;District&quot;: &quot;&quot;,
&quot;Staat/provincie&quot;: &quot;&quot;,
&quot;Land&quot;: &quot;The Netherlands&quot;,
&quot;Postcode&quot;: &quot;1602 DB&quot;,
&quot;Primair telefoonnummer&quot;: &quot;dsffsa&quot;,
&quot;Aanvullende telefoonnummers&quot;: &quot;dsffsa&quot;,
&quot;Website&quot;: &quot;&quot;,
&quot;Primaire categorie&quot;: &quot;&quot;,
&quot;Code&quot;: &quot;NL&quot;,
&quot;Longitude&quot;: &quot;5.7500&quot;,
&quot;Latitude&quot;: &quot;52.5000&quot;,
&quot;ImageSrc&quot;: &quot;/-/media/enza-zaden/enza-zaden-global/home4.ashx&quot;} ,{ &quot;Winkelcode&quot;: &quot;&quot;,
&quot;Type&quot;: &quot;&quot;,
&quot;TypeDisplayName&quot;: &quot;Distributor&quot;,
&quot;Bedrijfsnaam&quot;: &quot;&quot;,
&quot;Adresregel 1&quot;: &quot;Burberry street 6&quot;,
&quot;Adresregel 2&quot;: &quot;&quot;,
&quot;Plaats&quot;: &quot;London&quot;,
&quot;District&quot;: &quot;&quot;,
&quot;Staat/provincie&quot;: &quot;&quot;,
&quot;Land&quot;: &quot;United Kingdom&quot;,
&quot;Postcode&quot;: &quot;5000&quot;,
&quot;Primair telefoonnummer&quot;: &quot;(054) 12656778&quot;,
&quot;Aanvullende telefoonnummers&quot;: &quot;&quot;,
&quot;Website&quot;: &quot;&quot;,
&quot;Primaire categorie&quot;: &quot;&quot;,
&quot;Code&quot;: &quot;UK&quot;,
&quot;Longitude&quot;: &quot;-5.5&quot;,
&quot;Latitude&quot;: &quot;55.3&quot;,
&quot;ImageSrc&quot;: &quot;/-/media/enza-zaden/enza-zaden-global/home3.ashx&quot;} ,{ &quot;Winkelcode&quot;: &quot;&quot;,
&quot;Type&quot;: &quot;&quot;,
&quot;TypeDisplayName&quot;: &quot;Commercial&quot;,
&quot;Bedrijfsnaam&quot;: &quot;&quot;,
&quot;Adresregel 1&quot;: &quot;Oleander street 9&quot;,
&quot;Adresregel 2&quot;: &quot;&quot;,
&quot;Plaats&quot;: &quot;London&quot;,
&quot;District&quot;: &quot;&quot;,
&quot;Staat/provincie&quot;: &quot;&quot;,
&quot;Land&quot;: &quot;United Kingdom&quot;,
&quot;Postcode&quot;: &quot;5000&quot;,
&quot;Primair telefoonnummer&quot;: &quot;&quot;,
&quot;Aanvullende telefoonnummers&quot;: &quot;&quot;,
&quot;Website&quot;: &quot;&quot;,
&quot;Primaire categorie&quot;: &quot;&quot;,
&quot;Code&quot;: &quot;UK&quot;,
&quot;Longitude&quot;: &quot;-5.5&quot;,
&quot;Latitude&quot;: &quot;55.3&quot;,
&quot;ImageSrc&quot;: &quot;/-/media/enza-zaden/enza-zaden-global/home4.ashx&quot;} ]}">
            <option class="googlemaps__select__option js-option" value="" selected>
              Other countries
            </option>
            <option class="googlemaps__select__option js-option" value="nl" data-countrypage="testcountrypage.html">
              Nederland
            </option>
            <option class="googlemaps__select__option js-option" value="us" data-countrypage="testcountrypage.html">
              Verenigde Staten
            </option>
            <option class="googlemaps__select__option js-option" value="gb" data-countrypage="testcountrypage.html">
              Verenigd Koningkrijk
            </option>
            <option class="googlemaps__select__option js-option" value="br" data-countrypage="testcountrypage.html">
              Brazilie
            </option>
            <option class="googlemaps__select__option js-option" value="es" data-countrypage="testcountrypage.html">
              Spanje
            </option>
            <option class="googlemaps__select__option js-option" value="it" data-countrypage="testcountrypage.html">
              Italie
            </option>
            <option class="googlemaps__select__option js-option" value="ch" data-countrypage="testcountrypage.html">
              China
            </option>
            <option class="googlemaps__select__option js-option" value="mx" data-countrypage="testcountrypage.html">
              Mexico
            </option>
          </select>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- GOOGLEMAPS-COUNTRY-SELECT::START -->
<!-- GOOGLEMAPS::START -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 fullsize">
      <div class="map visible-sm visible-md visible-lg js-maps"> </div>
    </div>
  </div>
</div>
<!-- GOOGLEMAPS::END -->
<div class="container crop-overview">
  <div class="row">
    <!-- GOOGLEMAPS-ICONS::START -->
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 googlemaps-map visible-sm visible-md visible-lg">
      <img class="googlemaps-map__icon" src="../images/building.png" alt="">
      <span class="googlemaps-map__label">Office</span>
      <img class="googlemaps-map__icon" src="../images/forklift.png" alt="">
      <span class="googlemaps-map__label">Distributor</span>
    </div>
    <!-- GOOGLEMAPS-ICONS::END -->
  </div>
  <!-- GOOGLEMAPS-OFFICES::START -->
  <!-- CROP-OVERVIEW::START -->
  <!-- CROP-OVERVIEW-PRODUCTS::START -->
  <div class="row crop-overview__products googlemaps-lands visible-sm visible-md visible-lg">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <a href="#" title="" class="teaserbox teaserbox--child-overview">
        <section>
          <div class="teaserbox__overlay fade">&nbsp;</div>
          <div class="teaserbox__overlay-bottom">&nbsp;</div>
          <figure>
            <div class="teaserbox__image js-teaserbox__image">
              <img src="http://loremflickr.com/320/250/vegetables?random=1" alt="">
            </div>
            <figcaption class="teaserbox__description">
              <p class="teaserbox__description__label">
                <span class="label-square">NEWS</span>
              </p>
              <p class="teaserbox__description__title">China
              </p>
            </figcaption>
          </figure>
          <div class="teaserbox__link">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
            <g>
              <g>
                <g>
                  <path d="M30,3c14.9,0,27,12.1,27,27c0,14.9-12.1,27-27,27S3,44.9,3,30C3,15.1,15.1,3,30,3 M30,0C13.5,0,0,13.5,0,30
                    c0,16.5,13.5,30,30,30s30-13.5,30-30C60,13.5,46.5,0,30,0L30,0z"/>
                </g>
              </g>
            </g>
            <circle cx="30" cy="30" r="3.2"/>
            <circle cx="30" cy="20.4" r="3.2"/>
            <circle cx="30" cy="39.6" r="3.2"/>
            <circle cx="39.6" cy="30" r="3.2"/>
            <circle cx="39.6" cy="20.4" r="3.2"/>
            <circle cx="39.6" cy="39.6" r="3.2"/>
            <circle cx="20.4" cy="30" r="3.2"/>
            <circle cx="20.4" cy="20.4" r="3.2"/>
            <circle cx="20.4" cy="39.6" r="3.2"/>
          </svg>
          </div>
        </section>
      </a>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <a href="#" title="" class="teaserbox teaserbox--child-overview">
        <section>
          <div class="teaserbox__overlay fade">&nbsp;</div>
          <div class="teaserbox__overlay-bottom">&nbsp;</div>
          <figure>
            <div class="teaserbox__image js-teaserbox__image">
              <img src="http://loremflickr.com/320/250/vegetables?random=2" alt="">
            </div>
            <figcaption class="teaserbox__description">
              <p class="teaserbox__description__label">
                <span class="label-square">NEWS</span>
              </p>
              <p class="teaserbox__description__title">Frankrijk
              </p>
            </figcaption>
          </figure>
          <div class="teaserbox__link">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
            <g>
              <g>
                <g>
                  <path d="M30,3c14.9,0,27,12.1,27,27c0,14.9-12.1,27-27,27S3,44.9,3,30C3,15.1,15.1,3,30,3 M30,0C13.5,0,0,13.5,0,30
                    c0,16.5,13.5,30,30,30s30-13.5,30-30C60,13.5,46.5,0,30,0L30,0z"/>
                </g>
              </g>
            </g>
            <circle cx="30" cy="30" r="3.2"/>
            <circle cx="30" cy="20.4" r="3.2"/>
            <circle cx="30" cy="39.6" r="3.2"/>
            <circle cx="39.6" cy="30" r="3.2"/>
            <circle cx="39.6" cy="20.4" r="3.2"/>
            <circle cx="39.6" cy="39.6" r="3.2"/>
            <circle cx="20.4" cy="30" r="3.2"/>
            <circle cx="20.4" cy="20.4" r="3.2"/>
            <circle cx="20.4" cy="39.6" r="3.2"/>
          </svg>
          </div>
        </section>
      </a>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <a href="#" title="" class="teaserbox teaserbox--child-overview">
        <section>
          <div class="teaserbox__overlay fade">&nbsp;</div>
          <div class="teaserbox__overlay-bottom">&nbsp;</div>
          <figure>
            <div class="teaserbox__image js-teaserbox__image">
              <img src="http://loremflickr.com/320/250/vegetables?random=3" alt="">
            </div>
            <figcaption class="teaserbox__description">
              <p class="teaserbox__description__label">
                <span class="label-square">NEWS</span>
              </p>
              <p class="teaserbox__description__title">Nederland
              </p>
            </figcaption>
          </figure>
          <div class="teaserbox__link">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
            <g>
              <g>
                <g>
                  <path d="M30,3c14.9,0,27,12.1,27,27c0,14.9-12.1,27-27,27S3,44.9,3,30C3,15.1,15.1,3,30,3 M30,0C13.5,0,0,13.5,0,30
                    c0,16.5,13.5,30,30,30s30-13.5,30-30C60,13.5,46.5,0,30,0L30,0z"/>
                </g>
              </g>
            </g>
            <circle cx="30" cy="30" r="3.2"/>
            <circle cx="30" cy="20.4" r="3.2"/>
            <circle cx="30" cy="39.6" r="3.2"/>
            <circle cx="39.6" cy="30" r="3.2"/>
            <circle cx="39.6" cy="20.4" r="3.2"/>
            <circle cx="39.6" cy="39.6" r="3.2"/>
            <circle cx="20.4" cy="30" r="3.2"/>
            <circle cx="20.4" cy="20.4" r="3.2"/>
            <circle cx="20.4" cy="39.6" r="3.2"/>
          </svg>
          </div>
        </section>
      </a>
    </div>
  </div>
  <!-- CROP-OVERVIEW-PRODUCTS::END -->
  <!-- CROP-OVERVIEW::END -->
  <!-- GOOGLEMAPS-OFFICES::END -->
</div>
<!-- GOOGLEMAPS-TEMPLATES::START -->
<!-- GOOGLEMAPS-SELECTOR::START -->
<script id="googlemaps-selector-template" type="text/x-handlebars-template">
  <option class="googlemaps__select__option" value="{{ Land }}">
    {{ Land }}
  </option>
</script>
<!-- GOOGLEMAPS-SELECTOR::END -->
<!-- GOOGLEMAPS-INFO::START -->
<script id="googlemaps-info-template" type="text/x-handlebars-template">
  <div class="googlemaps-map">
    <h3 class="googlemaps-map__title">{{ TypeName }}</h3>
    <span class="googlemaps-map__address">{{ 'Adresregel 1' }}</span><br>
    <span class="googlemaps-map__address">{{ Postcode }}</span>
    <span class="googlemaps-map__address">{{ Plaats }}</span><br>
    <span class="googlemaps-map__phone">{{ 'Primair telefoonnummer' }}</span>
  </div>
</script>
<!-- GOOGLEMAPS-INFO::END -->
<!-- GOOGLEMAPS-OFFICE::START -->
<script id="googlemaps-office-template" type="text/x-handlebars-template">
  <article class="article--list">
    <a class="varietylist__item" href="#" alt="">
      <div class="varietylist__item__top">
        <img class="varietylist__item__image" src="http://dummyimage.com/1000x800/ff0000/fff" title="">
        <div class="varietylist__item__content">
          <header>
                <span class="varietylist__item__title" href="#" title="">
                  {{ TypeName }}
                </span>
          </header>
          <dl class="varietylist__item__list">
            <dt class="varietylist__item__list__title"></dt>
            <dd class="varietylist__item__list__description">{{ 'Adresregel 1' }}</dd>
            <dt class="varietylist__item__list__title"></dt>
            <dd class="varietylist__item__list__description">{{ Postcode }} {{ Plaats }}</dd>
            <dt class="varietylist__item__list__title"></dt>
            <dd class="varietylist__item__list__description phone">{{ 'Primair telefoonnummer' }}</dd>
          </dl>
        </div>
      </div>
      <div class="varietylist__item__bottom">
        <div class="varietylist__item__tags">
          <span class="badge badge--variety">Rem ipsum dolor</span>
          <span class="badge badge--variety">sit amet, consectetur</span>
          <span class="badge badge--variety">adipiscing elit</span>
          <span class="badge badge--variety">Quisque scelerisque</span>
          <span class="badge badge--variety">vestibulum porttitor.</span>
        </div>
        <div class="varietylist__item__link">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
                  <g>
                    <g>
                      <g>
                        <path d="M30,3c14.9,0,27,12.1,27,27c0,14.9-12.1,27-27,27S3,44.9,3,30C3,15.1,15.1,3,30,3 M30,0C13.5,0,0,13.5,0,30
                          c0,16.5,13.5,30,30,30s30-13.5,30-30C60,13.5,46.5,0,30,0L30,0z"/>
                      </g>
                      <path d="M29.3,17.7c-0.9-0.9-2.4-0.9-3.3,0C25,18.6,25,20.1,26,21l9.1,9L26,39c-0.9,0.9-0.9,2.4,0,3.3c0.5,0.5,1.1,0.7,1.7,0.7
                        c0.6,0,1.2-0.2,1.7-0.7L40,31.7c0.9-0.9,0.9-2.4,0-3.3L29.3,17.7z"/>
                    </g>
                  </g>
                </svg>
        </div>
      </div>
    </a>
  </article>
</script>
<!-- GOOGLEMAPS-OFFICE::END -->
<!-- GOOGLEMAPS-TEMPLATES::END -->

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
  (function (b, o, i, l, e, r) {
    b.GoogleAnalyticsObject = l;
    b[l] || (b[l] =
      function () {
        (b[l].q = b[l].q || []).push(arguments)
      });
    b[l].l = +new Date;
    e = o.createElement(i);
    r = o.getElementsByTagName(i)[0];
    e.src = '//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e, r)
  }(window, document, 'script', 'ga'));
  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');
</script>


<!-- build:js scripts/main.js -->
<script src="../bower_components/jquery/jquery.js"></script>
<script src="../bower_components/underscore/underscore.js"></script>
<script src="../bower_components/ev-emitter/ev-emitter.js"></script>
<script src="../bower_components/imagesloaded/imagesloaded.js"></script>
<script src="../bower_components/imagefill/js/jquery-imagefill.js"></script>
<script src="../bower_components/handlebars/handlebars.js"></script>
<script src="../bower_components/google-maps/lib/Google.js"></script>
<!-- fileblock:js appScript -->
<script src="/scripts/core.js"></script>
<script src="/scripts/carousel.js"></script>
<script src="/scripts/filter.js"></script>
<script src="/scripts/googlemaps.js"></script>
<script src="/scripts/jquery.mobile.js"></script>
<script src="/scripts/loadmore.js"></script>
<script src="/scripts/main.js"></script>
<script src="/scripts/navigation.js"></script>
<script src="/scripts/scrolltotop.js"></script>
<script src="/scripts/targetaudience.js"></script>
<script src="/scripts/teaserbox.js"></script>
<!-- endfileblock -->
<!-- endbuild -->

<!-- build:js scripts/vendor/bootstrap.js -->
<script src="../bower_components/bootstrap/js/affix.js"></script>
<script src="../bower_components/bootstrap/js/alert.js"></script>
<script src="../bower_components/bootstrap/js/dropdown.js"></script>
<script src="../bower_components/bootstrap/js/tooltip.js"></script>
<script src="../bower_components/bootstrap/js/modal.js"></script>
<script src="../bower_components/bootstrap/js/transition.js"></script>
<script src="../bower_components/bootstrap/js/button.js"></script>
<script src="../bower_components/bootstrap/js/popover.js"></script>
<script src="../bower_components/bootstrap/js/carousel.js"></script>
<script src="../bower_components/bootstrap/js/scrollspy.js"></script>
<script src="../bower_components/bootstrap/js/collapse.js"></script>
<script src="../bower_components/bootstrap/js/tab.js"></script>
<!-- endbuild -->
</body>
</html>




