<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Enza zaden - Generaloverviewpage</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="stylesheet" href="../styles/main.css">
  <!-- build:js scripts/vendor/modernizr.js -->
  <script src="../bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild -->
</head>
<body>

<!-- ONEPAGER::START -->

<!-- NAVIGATION::START -->
<nav class="navigation navbar navbar-fixed-top js-navigation">
  <!-- NAVIGATION:MENUBUTTONS::START -->
  <div class="container-fluid">
    <div class="navbar-header flex">
      <a class="navbar-brand navigation__button navigation__button--logo js-logo" href="#" title="Enza Zaden">
        <img class="navigation__button__image" src="../images/logo-enzazaden.svg" alt="Enza Zaden">
      </a>
      <button type="button" class="navbar-toggle collapsed navigation__button navigation__button--hamburger js-menu"
              data-toggle="collapse" data-target="#menu" aria-expanded="false">
        <span class="menu glyphicon">
          <svg class="cross" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="1024px" height="1024px" viewBox="0 0 1024 1024" enable-background="new 0 0 1024 1024" xml:space="preserve">
            <path fill="#fff" stroke-width="14" d="M628.509 517.026l295.154 295.154c33.658 33.658 33.658 85.439 0 119.097-15.534 15.534-38.836 25.89-59.549 25.89s-44.015-10.356-59.549-25.89l-295.154-295.154-295.154 295.154c-15.534 15.534-38.836 25.89-59.549 25.89s-44.015-10.356-59.549-25.89c-33.658-33.658-33.658-85.439 0-119.097l295.154-295.154-295.154-295.154c-33.658-33.658-33.658-85.439 0-119.097s85.439-33.658 119.097 0l295.154 295.154 295.154-295.154c33.658-33.658 85.439-33.658 119.097 0s33.658 85.439 0 119.097l-295.154 295.154z" />
          </svg>
          <svg class="hamburger" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
             viewBox="0 0 120 96" style="enable-background:new 0 0 120 96;" xml:space="preserve">
            <rect stroke="#fff" fill="#fff" y="79" width="120" height="17"/>
            <rect stroke="#fff" fill="#fff" y="39" width="120" height="17"/>
            <rect stroke="#fff" fill="#fff" width="120" height="17"/>
          </svg>
        </span>
      </button>
      <button type="button" class="navbar-toggle collapsed navigation__button navigation__button--search js-search"
              data-toggle="collapse" data-target="#search" aria-expanded="false">
        <span class="menu glyphicon">
          <svg class="search-glass" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.45 15.1">
            <g>
              <path fill="#222" d="M323.29,41l-2.85-2.85a6.5,6.5,0,1,0-2,2.21l2.77,2.77A1.5,1.5,0,0,0,323.29,41Zm-13-6a4.5,4.5,0,1,1,4.5,4.5A4.5,4.5,0,0,1,310.28,35Z" transform="translate(-308.28 -28.5)"/>
            </g>
          </svg>
          <svg class="search-cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
            <path fill="#222" stroke-width="14" d="M628.509 517.026l295.154 295.154c33.658 33.658 33.658 85.439 0 119.097-15.534 15.534-38.836 25.89-59.549 25.89s-44.015-10.356-59.549-25.89l-295.154-295.154-295.154 295.154c-15.534 15.534-38.836 25.89-59.549 25.89s-44.015-10.356-59.549-25.89c-33.658-33.658-33.658-85.439 0-119.097l295.154-295.154-295.154-295.154c-33.658-33.658-33.658-85.439 0-119.097s85.439-33.658 119.097 0l295.154 295.154 295.154-295.154c33.658-33.658 85.439-33.658 119.097 0s33.658 85.439 0 119.097l-295.154 295.154z"></path>
          </svg>
        </span>
      </button>
      <button type="button" class="navbar-toggle collapsed navigation__button navigation__button--enza"
              data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
        Enza Zaden
      </button>
    </div>
    <!-- NAVIGATION:MENUBUTTONS::END -->
    <!-- NAVIGATION:MENUITEMS::START -->
    <div class="navigation__menu collapse navbar-collapse js-navigation-menu" id="menu">
      <div class="modal-backdrop js-backdrop animated navigationfadeIn"></div>
      <ul class="nav navbar-nav">
        <li class="navigation__menu__item navigation__menu__item--country navigation__menu__item--logo">
          <a class="navigation__menu__item__label" href="#">Enza Zaden</a>
        </li>
        <li class="dropdown navigation__menu__item navigation__menu__item--country">
          <a href="#" class="dropdown-toggle navigation__menu__item__label"
             data-toggle="dropdown" role="button"
             aria-haspopup="true"
             aria-expanded="false">
            <span class="flag flag-nl"></span>
            <span class="name">Enza Zaden Global</span>
            <span class="arrow glyphicon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
                <path class="circle" fill="#fff" d="M30,3A27,27,0,1,1,3,30,27,27,0,0,1,30,3m0-3A30,30,0,1,0,60,30,30.09,30.09,0,0,0,30,0h0Z"/>
                <circle class="circle" fill="#fff" cx="30" cy="30" r="27"/>
                <path class="arr" fill="#fff" d="M29.3,17.7a2.35,2.35,0,0,0-3.3,0A2.19,2.19,0,0,0,26,21l9.1,9L26,39a2.37,2.37,0,0,0,3.4,3.3L40,31.7a2.35,2.35,0,0,0,0-3.3Z"/>
              </svg>
            </span>
          </a>
          <!-- NAVIGATION:SUBMENUITEMS::START -->
          <ul class="dropdown-menu">
            <li class="navigation__menu__item navigation__menu__item--country">
              <a class="navigation__menu__item__label navigation__menu__item__label"
                 title="INFO@ENZAZADEN.CO.UK" href="#">
                <span class="flag flag-gb"></span>UNITED KINGDOM
              </a>
            </li>
            <li class="navigation__menu__item navigation__menu__item--country">
              <a class="navigation__menu__item__label navigation__menu__item__label"
                 title="INFO@ENZAZADEN.CO.UK" href="#">
                <span class="flag flag-us"></span>UNITED STATES
              </a>
            </li>
          </ul>
          <!-- NAVIGATION:SUBMENUITEMS::END -->
        </li>
        <li class="navigation__menu__item navigation__menu__item--contact">
          <a class="navigation__menu__item__label navigation__menu__item__label--email"
             title="INFO@ENZAZADEN.CO.UK" href="INFO@ENZAZADEN.CO.UK">
            <span class="contact-icon">
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 100 125" style="enable-background:new 0 0 100 125;" xml:space="preserve">
                <polygon fill="#fff" points="84.8,65.6 84.8,34.7 64.8,50.6 "/>
                <path fill="#fff" d="M51.8,60.9c-0.5,0.4-1.1,0.6-1.8,0.6s-1.2-0.2-1.8-0.6l-8.4-6.7L15.3,72.6h69.5L60.2,54.3L51.8,60.9z"/>
                <polygon fill="#fff" points="83.2,28.8 16.8,28.8 50,55.1 "/>
                <polygon fill="#fff" points="15.2,34.7 15.2,65.6 35.2,50.6 "/>
              </svg>
            </span>
            INFO@ENZAZADEN.CO.UK
          </a>
          <a class="navigation__menu__item__label navigation__menu__item__label--phone"
             title="0044 - 123456789" href="0044 - 123456789">
            <span class="contact-icon">
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                 viewBox="0 0 100 125" style="enable-background:new 0 0 100 125;" xml:space="preserve">
                <path fill="#fff" d="M31.8,61.2c11.9,14.4,40.9,28.2,47.9,25.1s8.5-9.8,8.2-12.9S71.7,60.8,67.7,59s-8.6,4-10.8,6.5c-2.3,2.4-11.1-4.9-14.9-8.6
                  c0,0-10-11.2-7.7-13.6s8-7.2,6-11.1S28.2,12.7,25,12.5c-3.1-0.2-9.7,1.6-12.5,8.7S23.1,55.4,38,66.7"/>
              </svg>
            </span>
            0044 - 123456789
          </a>
        </li>
        <li class="navigation__menu__item">
          <a class="navigation__menu__item__label" href="#">News & Innovation</a></li>
        <li class="navigation__menu__item">
          <a class="navigation__menu__item__label" href="#">Products & Services</a></li>
        <li class="navigation__menu__item visible-xs visible-sm">
          <a class="navigation__menu__item__label" href="#">Careers & learning</a></li>
        <li class="navigation__menu__item navigation__menu__item--sub">
          <a class="navigation__menu__item__label" href="#">Product Overview</a>
        </li>
        <li class="navigation__menu__item navigation__menu__item--sub">
          <a class="navigation__menu__item__label" href="#">Menu Item</a>
        </li>
        <li class="navigation__menu__item navigation__menu__item--sub">
          <a class="navigation__menu__item__label" href="#">Menu Item 2</a>
        </li>
        <li class="navigation__menu__item visible-xs visible-sm">
          <a class="navigation__menu__item__label" href="#">This is Enza Zaden</a>
        </li>
        <li class="navigation__menu__item navigation__menu__item--sub">
          <a class="navigation__menu__item__label" href="#">Company profile</a>
        </li>
        <li class="navigation__menu__item navigation__menu__item--sub">
          <a class="navigation__menu__item__label" href="#">History</a>
        </li>
        <li class="navigation__menu__item navigation__menu__item--sub">
          <a class="navigation__menu__item__label" href="#">Enza worldwide</a>
        </li>
        <li class="navigation__menu__item navigation__menu__item--sub">
          <a class="navigation__menu__item__label" href="#">Contact</a>
        </li>
        <!-- DESKTOP-SUBMENU::START -->
        <li class="navigation__menu__item visible-md visible-lg">
          <a class="navigation__menu__item__label" id="as" href="#" role="button" aria-haspopup="true" aria-expanded="false">Careers & learning</a>
          <ul class="dropdown-menu navigation__menu__item__sub" aria-labelledby="as">
            <li class="navigation__menu__item__sub__item--table">
              <a class="navigation__menu__item__sub__item" href="#" title="">
                <span class="menu-label">Sander</span>
              </a>
            </li>
            <li class="navigation__menu__item__sub__item--table">
              <a class="navigation__menu__item__sub__item" href="#" title="" class="menu-label">
                <span class="menu-label">Sander & collega's</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- DESKTOP-SUBMENU::END -->
        <!-- DESKTOP-SUBMENU::START -->
        <li class="navigation__menu__item visible-md visible-lg">
          <a class="navigation__menu__item__label" id="as2" href="#" role="button" aria-haspopup="true" aria-expanded="false">This is Enza Zaden</a>
          <ul class="dropdown-menu navigation__menu__item__sub" aria-labelledby="as">
            <li class="navigation__menu__item__sub__item--table">
              <a class="navigation__menu__item__sub__item" href="#" title="">
                <span class="menu-label">Sander</span>
              </a>
            </li>
            <li class="navigation__menu__item__sub__item--table">
              <a class="navigation__menu__item__sub__item" href="#" title="" class="menu-label">
                <span class="menu-label">Sander & collega's</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- DESKTOP-SUBMENU::END -->
        <li class="navigation__menu__item">
          <a class="navigation__menu__item__label" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="menu glyphicon">&nbsp;
              <svg class="search-glass" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.45 15.1">
                <g>
                  <path fill="#222" d="M323.29,41l-2.85-2.85a6.5,6.5,0,1,0-2,2.21l2.77,2.77A1.5,1.5,0,0,0,323.29,41Zm-13-6a4.5,4.5,0,1,1,4.5,4.5A4.5,4.5,0,0,1,310.28,35Z" transform="translate(-308.28 -28.5)"/>
                </g>
              </svg>
              <svg class="search-cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
                <path fill="#222" stroke-width="14" d="M628.509 517.026l295.154 295.154c33.658 33.658 33.658 85.439 0 119.097-15.534 15.534-38.836 25.89-59.549 25.89s-44.015-10.356-59.549-25.89l-295.154-295.154-295.154 295.154c-15.534 15.534-38.836 25.89-59.549 25.89s-44.015-10.356-59.549-25.89c-33.658-33.658-33.658-85.439 0-119.097l295.154-295.154-295.154-295.154c-33.658-33.658-33.658-85.439 0-119.097s85.439-33.658 119.097 0l295.154 295.154 295.154-295.154c33.658-33.658 85.439-33.658 119.097 0s33.658 85.439 0 119.097l-295.154 295.154z" />
              </svg>
            </span>
          </a>
          <ul class="dropdown-menu desktop" aria-labelledby="dLabel">
            <li class="dropdown-menu__search">
              <div class="js-navigation-search" id="searchterm">
                <form class="dropdown-menu__form form-inline" role="search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Ik ben opzoek naar..." autofocus>
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span>
                      </button>
                    </span>
                  </div>
                </form>
              </div>
            </li>
          </ul>
        </li>
      </ul>
      <div class="modal-menu-background"></div>
    </div>
    <!-- NAVIGATION:MENUITEMS::END -->
    <!-- NAVIGATION:MENUITEMS:SEARCH::START -->
    <div class="navigation__menu navigation__menu--search collapse navbar-collapse js-navigation-search" id="search">
      <!--<div class="modal-backdrop js-backdrop animated navigationfadeIn"></div>-->
      <form class="navigation__menu__form navbar-form navbar-left form-inline" role="search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Ik ben opzoek naar..." autofocus>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </form>
    </div>
    <!-- NAVIGATION:MENUITEMS:SEARCH::END -->
  </div>
</nav>
<!-- NAVIGATION::END -->

<!-- VARIETY-DETAIL-HEADER::START -->
<div class="container variety-detail onepager">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <section class="variety-detail__header">
        <h1 class="variety-detail__title">
          Etude
        </h1>
      </section>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <section class="variety-detail__header">
        <p class="variety-detail__description">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.
        </p>
      </section>
    </div>
  </div>
</div>
<!-- VARIETY-DETAIL-HEADER::END -->
<!-- ONEPAGER-BUTTONGROUP::START -->
<div class="container onepager">
  <div class="row">
    <div class="col-xs-12">
      <div class="onepager__button-group">
        <a class="btn btn-default" href="#page1" role="button">1900</a>
        <a class="btn btn-default" href="#page2" role="button">1900</a>
        <a class="btn btn-default" href="#" role="button">1900</a>
        <a class="btn btn-default" href="#" role="button">1900</a>
        <a class="btn btn-default" href="#" role="button">1900</a>
        <a class="btn btn-default" href="#" role="button">1900</a>
        <a class="btn btn-default" href="#" role="button">1900</a>
        <a class="btn btn-default" href="#" role="button">1900</a>
      </div>
    </div>
  </div>
</div>
<!-- ONEPAGER-BUTTONGROUP::END -->
<!-- ONEPAGER-PAGE::START -->
<!-- ONEPAGER-IMAGE::START -->
<div class="container onepager" id="page1">
  <div class="row">
    <div class="col-xs-12">
      <div class="onepager__image-container">
        <div class="onepager__image js-onepager__image">
          <img src="http://loremflickr.com/1200/250/news?random=1" alt="">
        </div>
        <div class="onepager__image__content">
          <div class="onepager__image__title">
            2010
          </div>
          <div class="onepager__image__description">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla consequat massa quis enim. Donec pede justo.
          </div>
          <a href="#" title="" class="btn btn-default onepager__image__button"
           data-target=".js-teaserboxes" data-step="5" data-max="10" data-amount-teaserboxes="0" data-service="../data/teaserboxes.json">
          <span class="onepager__image__button__text">
            Read more
          </span>
          <div class="onepager__image__button__arrow">
            <svg version="1.1" viewBox="-2 -2 64 64">
              <path class="border" d="M30,3A27,27,0,1,1,3,30,27,27,0,0,1,30,3m0-3A30,30,0,1,0,60,30,30.09,30.09,0,0,0,30,0h0Z"/>
              <circle class="circle" opacity="1" cx="30" cy="30" r="27"/>
              <path class="arrow" d="M29.3,17.7a2.35,2.35,0,0,0-3.3,0A2.19,2.19,0,0,0,26,21l9.1,9L26,39a2.37,2.37,0,0,0,3.4,3.3L40,31.7a2.35,2.35,0,0,0,0-3.3Z"/>
            </svg>
          </div>
        </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ONEPAGER-IMAGE::END -->
<!-- ONEPAGER-QUOTE::START -->
<div class="container onepager">
  <div class="row">
    <div class="col-xs-12">
      <blockquote class="onepager__quote">
        <p class="onepager__quote__title">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        </p>

        <p class="onepager__quote__author">
          <b>Peter Grifin</b>, California
        </p>
      </blockquote>
    </div>
  </div>
</div>
<!-- ONEPAGER-QUOTE::END -->
<!-- CAROUSEL-DETAIL::START -->
<div>
  <!-- CAROUSEL-DETAIL-CAROUSEL::START -->
  <!-- CAROUSEL::START -->
  <div class="container container--carousel container--carousel-detail container--onepager">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div id="carousel-example-generic" class="carousel carousel--detail slide carousel-fade js-carousel" data-ride="carousel">
          <!-- CAROUSEL-INDICATORS::START -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>
          <!-- CAROUSEL-INDICATORS::END -->
          <!-- CAROUSEL-SLIDES::START -->
          <div class="carousel-inner container--carousel__slides" role="listbox">
            <div class="item active container--carousel__slides__item">
              <div class="container--carousel__slides__item__image js-container--carousel__slides__item__image">
                <img src="http://loremflickr.com/2640/2000/news?random=1" alt="Slide 1">
                <div class="slide-background"></div>
              </div>
              <div class="carousel-caption">
                <blockquote class="carousel-caption__quote">
                  1900
                </blockquote>
                <p class="carousel-caption__text">
                  Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero.
                </p>
                <span class="carousel-caption__name">John Doe,</span>
                <span class="carousel-caption__relation">Grower in Mexico</span>
                <a href="#" title="" class="btn btn-default carousel-caption__button">
                <span class="carousel-caption__button__text">
                  Read more xxx  x x xx
                </span>
                  <div class="carousel-caption__button__arrow">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                    viewBox="0 0 61 61" style="enable-background:new 0 0 60 60;"  xml:space="preserve">
                    <g>
                      <g>
                        <g>
                          <path class="circle" fill="#fff" d="M30,3c14.9,0,27,12.1,27,27c0,14.9-12.1,27-27,27S3,44.9,3,30C3,15.1,15.1,3,30,3 M30,0C13.5,0,0,13.5,0,30
                            c0,16.5,13.5,30,30,30s30-13.5,30-30C60,13.5,46.5,0,30,0L30,0z"/>
                        </g>
                        <path class="arrow" fill="#fff" d="M29.3,17.7c-0.9-0.9-2.4-0.9-3.3,0C25,18.6,25,20.1,26,21l9.1,9L26,39c-0.9,0.9-0.9,2.4,0,3.3c0.5,0.5,1.1,0.7,1.7,0.7
                          c0.6,0,1.2-0.2,1.7-0.7L40,31.7c0.9-0.9,0.9-2.4,0-3.3L29.3,17.7z"/>
                      </g>
                    </g>
                  </svg>
                  </div>
                </a>
              </div>
            </div>
            <div class="item container--carousel__slides__item">
              <div class="container--carousel__slides__item__image js-container--carousel__slides__item__image">
                <img src="http://loremflickr.com/2640/2000/news?random=2" alt="Slide 2">
                <div class="slide-background"></div>
              </div>
              <div class="carousel-caption">
                <blockquote class="carousel-caption__quote">
                  1900
                </blockquote>
                <p class="carousel-caption__text">
                  Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero.
                </p>
                <span class="carousel-caption__name">John Doe,</span>
                <span class="carousel-caption__relation">Grower in Mexico</span>
                <a href="#" title="" class="btn btn-default carousel-caption__button">
                <span class="carousel-caption__button__text">
                  Read more
                </span>
                  <div class="carousel-caption__button__arrow">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                    viewBox="0 0 61 61" style="enable-background:new 0 0 60 60;"  xml:space="preserve">
                    <g>
                      <g>
                        <g>
                          <path class="circle" fill="#fff" d="M30,3c14.9,0,27,12.1,27,27c0,14.9-12.1,27-27,27S3,44.9,3,30C3,15.1,15.1,3,30,3 M30,0C13.5,0,0,13.5,0,30
                            c0,16.5,13.5,30,30,30s30-13.5,30-30C60,13.5,46.5,0,30,0L30,0z"/>
                        </g>
                        <path class="arrow" fill="#fff" d="M29.3,17.7c-0.9-0.9-2.4-0.9-3.3,0C25,18.6,25,20.1,26,21l9.1,9L26,39c-0.9,0.9-0.9,2.4,0,3.3c0.5,0.5,1.1,0.7,1.7,0.7
                          c0.6,0,1.2-0.2,1.7-0.7L40,31.7c0.9-0.9,0.9-2.4,0-3.3L29.3,17.7z"/>
                      </g>
                    </g>
                  </svg>
                  </div>
                </a>
              </div>
            </div>
            <div class="item container--carousel__slides__item">
              <div class="container--carousel__slides__item__image js-container--carousel__slides__item__image">
                <img src="http://loremflickr.com/2640/2000/news?random=3" alt="Slide 3">
                <div class="slide-background"></div>
              </div>
              <div class="carousel-caption">
                <blockquote class="carousel-caption__quote">
                  1900
                </blockquote>
                <p class="carousel-caption__text">
                  Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero.
                </p>
                <span class="carousel-caption__name">John Doe,</span>
                <span class="carousel-caption__relation">Grower in Mexico</span>
                <a href="#" title="" class="btn btn-default carousel-caption__button">
                <span class="carousel-caption__button__text">
                  Read more
                </span>
                  <div class="carousel-caption__button__arrow">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                    viewBox="0 0 61 61" style="enable-background:new 0 0 60 60;"  xml:space="preserve">
                    <g>
                      <g>
                        <g>
                          <path class="circle" fill="#fff" d="M30,3c14.9,0,27,12.1,27,27c0,14.9-12.1,27-27,27S3,44.9,3,30C3,15.1,15.1,3,30,3 M30,0C13.5,0,0,13.5,0,30
                            c0,16.5,13.5,30,30,30s30-13.5,30-30C60,13.5,46.5,0,30,0L30,0z"/>
                        </g>
                        <path class="arrow" fill="#fff" d="M29.3,17.7c-0.9-0.9-2.4-0.9-3.3,0C25,18.6,25,20.1,26,21l9.1,9L26,39c-0.9,0.9-0.9,2.4,0,3.3c0.5,0.5,1.1,0.7,1.7,0.7
                          c0.6,0,1.2-0.2,1.7-0.7L40,31.7c0.9-0.9,0.9-2.4,0-3.3L29.3,17.7z"/>
                      </g>
                    </g>
                  </svg>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <!-- CAROUSEL-SLIDES::END -->
          <!-- CAROUSEL-CONTROLS::START -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <span class="glyphicon left" aria-hidden="true">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                   viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
                  <path class="border" d="M30,3A27,27,0,1,1,3,30,27,27,0,0,1,30,3m0-3A30,30,0,1,0,60,30,30.09,30.09,0,0,0,30,0h0Z"/>
                  <circle class="circle" opacity="1" cx="30" cy="30" r="30"/>
                  <path class="arrow" d="M29.3,17.7a2.35,2.35,0,0,0-3.3,0A2.19,2.19,0,0,0,26,21l9.1,9L26,39a2.37,2.37,0,0,0,3.4,3.3L40,31.7a2.35,2.35,0,0,0,0-3.3Z"/>
                </svg>
              </span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="glyphicon right" aria-hidden="true">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                   viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
                  <path class="border" d="M30,3A27,27,0,1,1,3,30,27,27,0,0,1,30,3m0-3A30,30,0,1,0,60,30,30.09,30.09,0,0,0,30,0h0Z"/>
                  <circle class="circle" opacity="1" cx="30" cy="30" r="30"/>
                  <path class="arrow" d="M29.3,17.7a2.35,2.35,0,0,0-3.3,0A2.19,2.19,0,0,0,26,21l9.1,9L26,39a2.37,2.37,0,0,0,3.4,3.3L40,31.7a2.35,2.35,0,0,0,0-3.3Z"/>
                </svg>
              </span>
            <span class="sr-only">Next</span>
          </a>
          <!-- CAROUSEL-CONTROLS::END -->
        </div>
      </div>
    </div>
    <div class="container--carousel__thumbnails">
      <div class="container--carousel__thumbnails__item" data-target="#carousel-example-generic" data-slide-to="0">
        <div class="item__overlay">&nbsp;</div>
        <img class="item__image" src="http://dummyimage.com/640x100/ff0000/fff" alt="Slide 1">
      </div>
      <div class="container--carousel__thumbnails__item" data-target="#carousel-example-generic" data-slide-to="1">
        <div class="item__overlay">&nbsp;</div>
        <img class="item__image" src="http://dummyimage.com/640x100/ccc/fff" alt="Slide 2">
      </div>
      <div class="container--carousel__thumbnails__item" data-target="#carousel-example-generic" data-slide-to="2">
        <div class="item__overlay">&nbsp;</div>
        <img class="item__image" src="http://dummyimage.com/640x100/000/fff" alt="Slide 3">
      </div>
    </div>
  </div>
  <!-- CAROUSEL::END -->
  <!-- CAROUSEL-DETAIL-CAROUSEL::END -->
</div>
<!-- CAROUSEL-DETAIL::END -->
<!-- ONEPAGER-PAGE::END -->
<!-- ONEPAGER-PAGE::START -->
<!-- ONEPAGER-IMAGE::START -->
<div class="container onepager" id="page2">
  <div class="row">
    <div class="col-xs-12">
      <div class="onepager__image-container">
        <div class="onepager__image js-onepager__image">
          <img src="http://loremflickr.com/1200/250/news?random=1" alt="">
        </div>
        <div class="onepager__image__content">
          <div class="onepager__image__title">
            2010
          </div>
          <div class="onepager__image__description">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla consequat massa quis enim. Donec pede justo.
          </div>
          <a href="#" title="" class="btn btn-default onepager__image__button"
             data-target=".js-teaserboxes" data-step="5" data-max="10" data-amount-teaserboxes="0" data-service="../data/teaserboxes.json">
          <span class="onepager__image__button__text">
            Read more
          </span>
            <div class="onepager__image__button__arrow">
              <svg version="1.1" viewBox="-2 -2 64 64">
                <path class="border" d="M30,3A27,27,0,1,1,3,30,27,27,0,0,1,30,3m0-3A30,30,0,1,0,60,30,30.09,30.09,0,0,0,30,0h0Z"/>
                <circle class="circle" opacity="1" cx="30" cy="30" r="27"/>
                <path class="arrow" d="M29.3,17.7a2.35,2.35,0,0,0-3.3,0A2.19,2.19,0,0,0,26,21l9.1,9L26,39a2.37,2.37,0,0,0,3.4,3.3L40,31.7a2.35,2.35,0,0,0,0-3.3Z"/>
              </svg>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ONEPAGER-IMAGE::END -->
<!-- ONEPAGER-QUOTE::START -->
<div class="container onepager">
  <div class="row">
    <div class="col-xs-12">
      <blockquote class="onepager__quote">
        <p class="onepager__quote__title">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        </p>

        <p class="onepager__quote__author">
          <b>Peter Grifin</b>, California
        </p>
      </blockquote>
    </div>
  </div>
</div>
<!-- ONEPAGER-QUOTE::END -->
<!-- CAROUSEL-DETAIL::START -->
<div>
  <!-- CAROUSEL-DETAIL-CAROUSEL::START -->
  <!-- CAROUSEL::START -->
  <div class="container container--carousel container--carousel-detail container--onepager">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div id="carousel-example-generic2" class="carousel carousel--detail slide carousel-fade js-carousel" data-ride="carousel">
          <!-- CAROUSEL-INDICATORS::START -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic2" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic2" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic2" data-slide-to="2"></li>
          </ol>
          <!-- CAROUSEL-INDICATORS::END -->
          <!-- CAROUSEL-SLIDES::START -->
          <div class="carousel-inner container--carousel__slides" role="listbox">
            <div class="item active container--carousel__slides__item">
              <div class="container--carousel__slides__item__image js-container--carousel__slides__item__image">
                <img src="http://loremflickr.com/2640/2000/news?random=1" alt="Slide 1">
                <div class="slide-background"></div>
              </div>
              <div class="carousel-caption">
                <blockquote class="carousel-caption__quote">
                  1900
                </blockquote>
                <p class="carousel-caption__text">
                  Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero.
                </p>
                <span class="carousel-caption__name">John Doe,</span>
                <span class="carousel-caption__relation">Grower in Mexico</span>
                <a href="#" title="" class="btn btn-default carousel-caption__button">
                <span class="carousel-caption__button__text">
                  Read more xxx  x x xx
                </span>
                  <div class="carousel-caption__button__arrow">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                    viewBox="0 0 61 61" style="enable-background:new 0 0 60 60;"  xml:space="preserve">
                    <g>
                      <g>
                        <g>
                          <path class="circle" fill="#fff" d="M30,3c14.9,0,27,12.1,27,27c0,14.9-12.1,27-27,27S3,44.9,3,30C3,15.1,15.1,3,30,3 M30,0C13.5,0,0,13.5,0,30
                            c0,16.5,13.5,30,30,30s30-13.5,30-30C60,13.5,46.5,0,30,0L30,0z"/>
                        </g>
                        <path class="arrow" fill="#fff" d="M29.3,17.7c-0.9-0.9-2.4-0.9-3.3,0C25,18.6,25,20.1,26,21l9.1,9L26,39c-0.9,0.9-0.9,2.4,0,3.3c0.5,0.5,1.1,0.7,1.7,0.7
                          c0.6,0,1.2-0.2,1.7-0.7L40,31.7c0.9-0.9,0.9-2.4,0-3.3L29.3,17.7z"/>
                      </g>
                    </g>
                  </svg>
                  </div>
                </a>
              </div>
            </div>
            <div class="item container--carousel__slides__item">
              <div class="container--carousel__slides__item__image js-container--carousel__slides__item__image">
                <img src="http://loremflickr.com/2640/2000/news?random=2" alt="Slide 2">
                <div class="slide-background"></div>
              </div>
              <div class="carousel-caption">
                <blockquote class="carousel-caption__quote">
                  1900
                </blockquote>
                <p class="carousel-caption__text">
                  Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero.
                </p>
                <span class="carousel-caption__name">John Doe,</span>
                <span class="carousel-caption__relation">Grower in Mexico</span>
                <a href="#" title="" class="btn btn-default carousel-caption__button">
                <span class="carousel-caption__button__text">
                  Read more
                </span>
                  <div class="carousel-caption__button__arrow">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                    viewBox="0 0 61 61" style="enable-background:new 0 0 60 60;"  xml:space="preserve">
                    <g>
                      <g>
                        <g>
                          <path class="circle" fill="#fff" d="M30,3c14.9,0,27,12.1,27,27c0,14.9-12.1,27-27,27S3,44.9,3,30C3,15.1,15.1,3,30,3 M30,0C13.5,0,0,13.5,0,30
                            c0,16.5,13.5,30,30,30s30-13.5,30-30C60,13.5,46.5,0,30,0L30,0z"/>
                        </g>
                        <path class="arrow" fill="#fff" d="M29.3,17.7c-0.9-0.9-2.4-0.9-3.3,0C25,18.6,25,20.1,26,21l9.1,9L26,39c-0.9,0.9-0.9,2.4,0,3.3c0.5,0.5,1.1,0.7,1.7,0.7
                          c0.6,0,1.2-0.2,1.7-0.7L40,31.7c0.9-0.9,0.9-2.4,0-3.3L29.3,17.7z"/>
                      </g>
                    </g>
                  </svg>
                  </div>
                </a>
              </div>
            </div>
            <div class="item container--carousel__slides__item">
              <div class="container--carousel__slides__item__image js-container--carousel__slides__item__image">
                <img src="http://loremflickr.com/2640/2000/news?random=3" alt="Slide 3">
                <div class="slide-background"></div>
              </div>
              <div class="carousel-caption">
                <blockquote class="carousel-caption__quote">
                  1900
                </blockquote>
                <p class="carousel-caption__text">
                  Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero.
                </p>
                <span class="carousel-caption__name">John Doe,</span>
                <span class="carousel-caption__relation">Grower in Mexico</span>
                <a href="#" title="" class="btn btn-default carousel-caption__button">
                <span class="carousel-caption__button__text">
                  Read more
                </span>
                  <div class="carousel-caption__button__arrow">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                    viewBox="0 0 61 61" style="enable-background:new 0 0 60 60;"  xml:space="preserve">
                    <g>
                      <g>
                        <g>
                          <path class="circle" fill="#fff" d="M30,3c14.9,0,27,12.1,27,27c0,14.9-12.1,27-27,27S3,44.9,3,30C3,15.1,15.1,3,30,3 M30,0C13.5,0,0,13.5,0,30
                            c0,16.5,13.5,30,30,30s30-13.5,30-30C60,13.5,46.5,0,30,0L30,0z"/>
                        </g>
                        <path class="arrow" fill="#fff" d="M29.3,17.7c-0.9-0.9-2.4-0.9-3.3,0C25,18.6,25,20.1,26,21l9.1,9L26,39c-0.9,0.9-0.9,2.4,0,3.3c0.5,0.5,1.1,0.7,1.7,0.7
                          c0.6,0,1.2-0.2,1.7-0.7L40,31.7c0.9-0.9,0.9-2.4,0-3.3L29.3,17.7z"/>
                      </g>
                    </g>
                  </svg>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <!-- CAROUSEL-SLIDES::END -->
          <!-- CAROUSEL-CONTROLS::START -->
          <a class="left carousel-control" href="#carousel-example-generic2" role="button" data-slide="prev">
              <span class="glyphicon left" aria-hidden="true">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                   viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
                  <path class="border" d="M30,3A27,27,0,1,1,3,30,27,27,0,0,1,30,3m0-3A30,30,0,1,0,60,30,30.09,30.09,0,0,0,30,0h0Z"/>
                  <circle class="circle" opacity="1" cx="30" cy="30" r="30"/>
                  <path class="arrow" d="M29.3,17.7a2.35,2.35,0,0,0-3.3,0A2.19,2.19,0,0,0,26,21l9.1,9L26,39a2.37,2.37,0,0,0,3.4,3.3L40,31.7a2.35,2.35,0,0,0,0-3.3Z"/>
                </svg>
              </span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic2" role="button" data-slide="next">
              <span class="glyphicon right" aria-hidden="true">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                   viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
                  <path class="border" d="M30,3A27,27,0,1,1,3,30,27,27,0,0,1,30,3m0-3A30,30,0,1,0,60,30,30.09,30.09,0,0,0,30,0h0Z"/>
                  <circle class="circle" opacity="1" cx="30" cy="30" r="30"/>
                  <path class="arrow" d="M29.3,17.7a2.35,2.35,0,0,0-3.3,0A2.19,2.19,0,0,0,26,21l9.1,9L26,39a2.37,2.37,0,0,0,3.4,3.3L40,31.7a2.35,2.35,0,0,0,0-3.3Z"/>
                </svg>
              </span>
            <span class="sr-only">Next</span>
          </a>
          <!-- CAROUSEL-CONTROLS::END -->
        </div>
      </div>
    </div>
    <div class="container--carousel__thumbnails">
      <div class="container--carousel__thumbnails__item" data-target="#carousel-example-generic2" data-slide-to="0">
        <div class="item__overlay">&nbsp;</div>
        <img class="item__image" src="http://dummyimage.com/640x100/ff0000/fff" alt="Slide 1">
      </div>
      <div class="container--carousel__thumbnails__item" data-target="#carousel-example-generic2" data-slide-to="1">
        <div class="item__overlay">&nbsp;</div>
        <img class="item__image" src="http://dummyimage.com/640x100/ccc/fff" alt="Slide 2">
      </div>
      <div class="container--carousel__thumbnails__item" data-target="#carousel-example-generic2" data-slide-to="2">
        <div class="item__overlay">&nbsp;</div>
        <img class="item__image" src="http://dummyimage.com/640x100/000/fff" alt="Slide 3">
      </div>
    </div>
  </div>
  <!-- CAROUSEL::END -->
  <!-- CAROUSEL-DETAIL-CAROUSEL::END -->
</div>
<!-- CAROUSEL-DETAIL::END -->
<!-- ONEPAGER-PAGE::END -->
<!-- ONEPAGER::END -->

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
  (function (b, o, i, l, e, r) {
    b.GoogleAnalyticsObject = l;
    b[l] || (b[l] =
      function () {
        (b[l].q = b[l].q || []).push(arguments)
      });
    b[l].l = +new Date;
    e = o.createElement(i);
    r = o.getElementsByTagName(i)[0];
    e.src = '//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e, r)
  }(window, document, 'script', 'ga'));
  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');
</script>


<!-- build:js scripts/main.js -->
<script src="../bower_components/jquery/jquery.js"></script>
<script src="../bower_components/underscore/underscore.js"></script>
<script src="../bower_components/ev-emitter/ev-emitter.js"></script>
<script src="../bower_components/imagesloaded/imagesloaded.js"></script>
<script src="../bower_components/imagefill/js/jquery-imagefill.js"></script>
<!-- fileblock:js appScript -->
<script src="/scripts/core.js"></script>
<script src="/scripts/carousel.js"></script>
<script src="/scripts/filter.js"></script>
<script src="/scripts/googlemaps.js"></script>
<script src="/scripts/jquery.mobile.js"></script>
<script src="/scripts/loadmore.js"></script>
<script src="/scripts/main.js"></script>
<script src="/scripts/navigation.js"></script>
<script src="/scripts/scrolltotop.js"></script>
<script src="/scripts/targetaudience.js"></script>
<script src="/scripts/teaserbox.js"></script>
<!-- endfileblock -->
<!-- endbuild -->

<!-- build:js scripts/vendor/bootstrap.js -->
<script src="../bower_components/bootstrap/js/affix.js"></script>
<script src="../bower_components/bootstrap/js/alert.js"></script>
<script src="../bower_components/bootstrap/js/dropdown.js"></script>
<script src="../bower_components/bootstrap/js/tooltip.js"></script>
<script src="../bower_components/bootstrap/js/modal.js"></script>
<script src="../bower_components/bootstrap/js/transition.js"></script>
<script src="../bower_components/bootstrap/js/button.js"></script>
<script src="../bower_components/bootstrap/js/popover.js"></script>
<script src="../bower_components/bootstrap/js/carousel.js"></script>
<script src="../bower_components/bootstrap/js/scrollspy.js"></script>
<script src="../bower_components/bootstrap/js/collapse.js"></script>
<script src="../bower_components/bootstrap/js/tab.js"></script>
<!-- endbuild -->
</body>
</html>
