<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Enza zaden - Varietylist</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="stylesheet" href="../styles/main.css">
  <!-- build:js scripts/vendor/modernizr.js -->
  <script src="../bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild -->
</head>
<body>

<!-- VARIETY-DETAIL::START -->
<div class="container-fluid variety-detail">
  <div class="row">
    <!-- VARIETY-DETAIL-MORE-INFORMATION::START -->
    <div class="col-xs-12 col-sm-12">
      <section class="variety-detail__information">
        <header class="variety-detail__information__title">
          Looking for more information?
        </header>
        <div class="variety-detail__information__image">
          <figure>
            <img src="http://dummyimage.com/240x140/ff0000/fff" alt="" class="image">
            <figcaption>
              <address>
                <p class="name">
                  Jane Doe
                </p>
                <p class="job">
                  Chief Executive Officer UK
                </p>
                <p class="mail">
                  janedoe@enzazaden.co.uk
                </p>
                <p class="phone">
                  0044-12345678
                </p>
              </address>
            </figcaption>
          </figure>
        </div>
      </section>
    </div>
    <!-- VARIETY-DETAIL-MORE-INFORMATION::END -->
  </div>
</div>
<!-- VARIETY-DETAIL::END -->

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
  (function (b, o, i, l, e, r) {
    b.GoogleAnalyticsObject = l;
    b[l] || (b[l] =
      function () {
        (b[l].q = b[l].q || []).push(arguments)
      });
    b[l].l = +new Date;
    e = o.createElement(i);
    r = o.getElementsByTagName(i)[0];
    e.src = '//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e, r)
  }(window, document, 'script', 'ga'));
  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');
</script>


<!-- build:js scripts/main.js -->
<script src="../bower_components/jquery/jquery.js"></script>
<!-- fileblock:js appScript -->
<script src="/scripts/core.js"></script>
<script src="/scripts/carousel.js"></script>
<script src="/scripts/filter.js"></script>
<script src="/scripts/googlemaps.js"></script>
<script src="/scripts/jquery.mobile.js"></script>
<script src="/scripts/loadmore.js"></script>
<script src="/scripts/main.js"></script>
<script src="/scripts/navigation.js"></script>
<script src="/scripts/scrolltotop.js"></script>
<script src="/scripts/targetaudience.js"></script>
<script src="/scripts/teaserbox.js"></script>
<!-- endfileblock -->
<!-- endbuild -->

<!-- build:js scripts/vendor/bootstrap.js -->
<script src="../bower_components/bootstrap/js/affix.js"></script>
<script src="../bower_components/bootstrap/js/alert.js"></script>
<script src="../bower_components/bootstrap/js/dropdown.js"></script>
<script src="../bower_components/bootstrap/js/tooltip.js"></script>
<script src="../bower_components/bootstrap/js/modal.js"></script>
<script src="../bower_components/bootstrap/js/transition.js"></script>
<script src="../bower_components/bootstrap/js/button.js"></script>
<script src="../bower_components/bootstrap/js/popover.js"></script>
<script src="../bower_components/bootstrap/js/carousel.js"></script>
<script src="../bower_components/bootstrap/js/scrollspy.js"></script>
<script src="../bower_components/bootstrap/js/collapse.js"></script>
<script src="../bower_components/bootstrap/js/tab.js"></script>
<!-- endbuild -->
</body>
</html>
